[2015-10-27 12:07] FObermaier opened #1 "Update GeoAPI/NetTopologySuite reference"
We need to use more recent versions of NetTopologySuite, at least 1.13.4 or 1.14.

[2015-10-27 12:10] FObermaier opened #2 "Update BruTile reference"
This requires to add BruTile.Serialization to be added to SharpMap, as this is not part of BruTile.Desktop package anymore.

[2015-10-27 12:13] FObermaier opened #3 "Wire GeoAPI ICoordinateSystemServices"
Current release of GeoAPI has a modified ICoordinateSystemServices. This enables us to remove conditional compilation of reprojection code

[2015-10-27 12:36] FObermaier opened #4 "Refactor SharpMap.Layers.IAsyncLayer"
We need to refactor the IAsyncLayer to use one SharpMap core components so we can remove the dependancy on BruTile.

[2015-11-01 09:00] #2 closed, assigned to nobody

[2015-11-01 09:07] #5 closed, assigned to nobody

[2015-11-01 09:14] FObermaier opened #5 "Update Common.Logging dependency"
Currently SharpMap relies on Common.Logging v2.0. This is stuck on Net20 Framework.

[2015-11-11 13:23] FObermaier opened #6 "Make CI work on travis-ci.org/SharpMap/SharpMap"
I've been able to reduce number of errors on http://travis-ci.org/SharpMap/SharpMap down to 1.
Anyone has an idea of how to fix the last one?

It has to do with the "Version" task in SharpMap.targets.
The build system cannot find `Microsoft.Build.Utilities.v3.5`. As a fallback I've created a task that get's along without needing this library, but the error condition is not cleared.

[2015-11-11 16:18] #6 closed, assigned to nobody

[2016-02-01 17:48] jeremysimmons opened #7 "old versio of newtonsoft.json"
https://github.com/SharpMap/SharpMap/blob/master/SharpMap/packages.config references <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40-Client" />.
Would you be open to a pull request updating to the most recent version?

Since this is potentially breaking, is this a major revision to your package 2.0.0.0 or only a minor revision? 1.2.0.0?

[2016-02-02 22:29] FObermaier opened #8 "Update NuGet package restore approach"

[2016-02-02 22:39] FObermaier commented on #7
Which version do you consider new? It is currently at 7.01 and I'd like it to be in sync with the version NTS uses.
Be sure to look at the Branches/1.0 branch, or do you explicitly need the version in master?

[2016-02-02 22:47] #8 closed, assigned to FObermaier

[2016-02-02 22:50] FObermaier opened #9 "Refactor ISession interface"
Currently the SharpMap `ISession` interface resides in the `SharpMap.CoordinateSystems` namespace.
It is more reasonable to have it in the `SharpMap` namespace.

[2016-02-02 22:53] FObermaier opened #10 "Remove conditional code that depends on DotSpatialProjections compiler directive"
With the introduction of `GeoAPI.ICoordinateSystemServices` interface the need for the `DotSpatalProjections` compiler directive has vanished.
We need to reflect that in the code.

[2016-02-03 02:07] jeremysimmons commented on #7
https://www.nuget.org/packages/SharpMap/1.1.0

says
NewtonSoft.Json (= 4.5.11)
https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap.Core.nuspec
says

<dependency id="NewtonSoft.Json" version="[6.0.3]"/>

the version in the public nupkg on nuget.org is what im most onterested in updating.

what is NTS?

https://www.nuget.org/packages/SharpMap/

Sent from my iPhone

[2016-02-03 02:27] jeremysimmons commented on #7
nts is https://github.com/NetTopologySuite/NetTopologySuite, correct?

[2016-02-03 08:14] FObermaier commented on #7
NTS is NetTopologySuite

The SharpMap nuspec file has not yet been updated. The [used package](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap.Converters.GeoJSON/packages.config) is:
`<package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40-client" />`

[2016-02-03 17:56] jeremysimmons commented on #7
I'm missing it... Where does NTS depend on NewtonSoft.JSON?

https://www.nuget.org/packages/NetTopologySuite/1.14.0
GeoAPI (>= 1.7.4 && < 1.8.0
https://www.nuget.org/packages/GeoAPI/1.7.4
Dependencies
This package has no dependencies.

Are you using the 1.0 branch now, and not the master branch?

[2016-02-03 19:20] FObermaier commented on #7
It is in the [NetTopologySuite.IO.GeoJSON](https://github.com/NetTopologySuite/NetTopologySuite/blob/master/NetTopologySuite.IO/NetTopologySuite.IO.GeoJSON) project which is seperate.

yes

[2016-02-03 19:22] FObermaier commented on #7
Btw, have you tried to force an update of the NewtonSoft.Json package?
`
update-package "Newtonsoft.Json -version 6.0.3 -ignoredependancies
`

[2016-02-03 21:46] jeremysimmons commented on #7
yes I have forced an update.
it just adds an assembly binding redirect

[code]

The major version number difference tells me that's unsafe/unwise to do.

This could be fixed if the nuget.org package were updated with the current source from the 1.0 branch.
https://github.com/SharpMap/SharpMap/tree/Branches/1.0, which correctly references newtonsoft.json 7.0.0.1

The current release - https://githu

[2016-02-04 07:13] FObermaier commented on #7
SharpMap 1.2 is [work in progress](https://github.com/SharpMap/SharpMap/milestones).
Currently I cannot tell when it will be released.

[2016-02-04 14:36] jeremysimmons commented on #7
sounds like my choices are to help you close out those last three bugs. Or do a private compile and release on our internal Nugett server.

no chance you'd want to re-release to Nugett with the Newton soft json 7.0 reference before the 1.2 release is there? even for beer money?

[2016-02-04 15:14] #1 closed, assigned to nobody

[2016-02-04 15:15] #9 closed, assigned to FObermaier

[2016-02-10 08:27] FObermaier opened #11 "Proper use of TableSchema in SqlServer2008 provider"
Currently the table schema defined in constructor argument or set via property is not evaluated correctly.

[2016-02-10 22:27] ddieffen opened #12 "Use of _useMemoryCache in Data.Provider.ShapeFile"
Hello,

In the source of
https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap/Data/Providers/ShapeFile.cs

I think that there is a performance bottleneck in the methods IGeometry GetGeometryByID(uint oid) line 721 and FeatureDataRow GetFeature(uint rowId, FeatureDataTable dt) line 1367

In the case where _useMemoryCache is set to True, then there is no need to call OpenDbfStream which i

[2016-02-11 07:45] #4 closed, assigned to nobody

[2016-02-12 20:45] FObermaier opened #14 "Extract MapViewport class from Map"
`SharpMap.Map` is a pretty heavy class to pass around for rendering purposes.
Additionally a part of its properties is being computed upon access in performance critical sections of the rendering pipeline.

In order to faciliate and speed-up rendering I propose to extract the relevant portions of `SharpMap.Map` into a new `SharpMap.MapViewport` class. Please see attached file.

In order to benefit

[2016-02-14 14:40] #11 closed, assigned to nobody

[2016-06-09 12:56] am2222 opened #17 "Does SharpMap/SharpMap.Layers.BruTile/Utilities/Wmts/ works?"
Hi,
In the dll version that I have downloaded this class does not excists..Do this works currently?where I can download last version of sharp map?It seems this version is not included in github..right?

[2016-06-09 13:14] FObermaier commented on #17
In order to have fewer dependencies to the core project (SharpMap) I decided to split out the tile layers that depend on BruTile into a seperate project. This makes updating BruTile easier, too

You will have to compile the whole solution and use the self compiled assemblies.

[2016-06-09 16:15] am2222 opened #18 "increase loading speed of maps with sqlserver provider"
I have a simple question about loading speed.
Does sqlserver provider loads whole map or it only loads features in view port ?
I mean is there any way to increase loading and showing features into map speed when we have a large number of features?

[2016-06-09 16:20] am2222 commented on #17
it is very good news to hear because I have lots of problems with it..I will try to compile it and see what happens thanks

[2016-06-10 11:26] am2222 opened #19 "How to limit maps zoom to an extend"
Hi,
Is there any way to limit maps zoom to extend of spacial vector layer?
thanks

[2016-06-10 13:29] FObermaier commented on #19
[code]

[2016-06-10 15:07] am2222 commented on #11
It seems that there are also some problems..I can  easily run this query
`select * from [dbo].GetParcelsBythem(1,1)`
but when I add `[dbo].GetParcelsBythem(1,1)` as table name I get the error that says could not find object..It seems that the parsing table function have some problems..

[2016-06-10 16:11] am2222 commented on #19
thanks very much

[2016-06-10 16:30] am2222 opened #20 "what is changed in sqlserver2008 provider in new versions?"
Hi,
In old versions of sqlserver2008 I could add a function as table name. but in the version here I can not, I only can add table names...I want to figure out what is chenged in new versions and how I can manege to use functions as table neme?
can some one helps me?
thank you

[2016-06-10 17:44] #19 closed, assigned to nobody

[2016-06-10 18:07] FObermaier commented on #20
You can view the commit history here on github.
I assume that it has to do with security settings on the server.

[2016-06-10 20:53] am2222 commented on #20
thanks ..I find that the GetExtend method throws erros

[2016-06-13 08:55] am2222 opened #21 "How to save current viwing extend of map to set after loading a new map to mapbox"
Hi,
I want t keep current map view extent and then use it when a new Map object loads into mapbox,
Any way How Can I get current map viewing envelope?
thanks

[2016-06-13 08:59] am2222 commented on #21
I used the current method now..Does any better way exists

`          double zoom =-1;

[code]

[2016-06-13 14:28] am2222 commented on #14
Does this is implimented yet in sharpmap 1.2?

[2016-06-14 19:52] am2222 opened #22 "MapBox does not fire mouse wheel to zoom in all parts"
Hi,
I have created a map box and added some layers into that map, every thing worked fine until suddenly I faced an strange problem,The zoom using mouse wheel does not work all the map box area,It only works ob corners and the center of map zoom using wheel dont work..Waht possible problems may cause this problem?
Here is an image of the areas that zoom works and where it does not work

https://i.

[2016-06-14 21:27] am2222 commented on #22
An intresting thing that I noticed is that the map window is depended into my screen.I mean at bellow image zoom at the center of map does not work
http://i.imgsafe.org/07341bfd75.png

but when I move window to right side of screen zoom actives..

http://i.imgsafe.org/07344ef09a.png

what could make this happen?:(

[2016-06-15 07:37] am2222 commented on #22
I found the problem..When I use a map box in one form and run another form on top of that form while the previous mapox exists the area that the first map box covers mouse wheel does not work,I tried it by adding first map box to a splitcontainer and as I change the size of splitpanel mapbox in second form starts to work..how can I fix this?

[2016-06-15 10:14] FObermaier commented on #22
Try
`MapBox.TakeFocusOnHover = true;`

[2016-06-15 11:36] FObermaier commented on #21
This may look more compiicated but avoids changing Zoom value:

[code]

[2016-06-15 11:40] FObermaier commented on #20
I assume you have to change the `SqlServer2008.ExtentsMode` to `SqlServer2008ExtentsMode.QueryIndividualFeatures`

[2016-06-15 11:44] FObermaier commented on #18
SqlServer only loads the geometries/features needed for the current map extent.
What is it that takes so long, the call for GetExtents() or getting the geometries/features

[2016-06-15 11:58] am2222 commented on #18
thanks for your great answer.

[2016-06-15 12:00] am2222 commented on #20
Yes,I changed it and it works fine because it calculates extend, I added new variable which take the main table name of related function and gets extend from spatial index

[2016-06-15 12:04] am2222 commented on #21
why are you using size? I think this make some problems if I use dock.fill option..doent it?

[2016-06-15 12:10] #20 closed, assigned to nobody

[2016-06-15 12:15] #18 closed, assigned to nobody

[2016-06-15 12:17] FObermaier commented on #21
Changing the map Size implicitly forces a Refresh. Isn't it save to assume that the new map has the same size as the old map?

[2016-06-15 12:29] am2222 commented on #21
Can't I simply try Map.refresh()?
Yes In most cases the map size is fixed and it is dock.fill in an maximized form

[2016-06-15 12:33] am2222 commented on #22
I did the same but the problem exists..The area that map in first form occupies in new form mouse wheel does not work..

[2016-06-15 14:18] FObermaier commented on #22
Can you set up a sample application for me to look at?

[2016-06-16 19:59] am2222 commented on #22
Hi,
sorry for my late answer
here is the download link
[https://www.mediafire.com/?aoj5lt2oi7m2vdl](https://www.mediafire.com/?aoj5lt2oi7m2vdl)

we have two forms.here there is two bugs,
1- when I load a layer to form 1 map layer in form 2 does not load any thing
2- when I load a layer in form 2..the area that map object in form 1 occupies mouse whel does not work..You can resize form1 and see tha

[2016-06-22 11:35] am2222 opened #23 "rendering a big rectangular with an X in its center when I load a layer"
Hi,
I am using sharp map and on my pc with windows 10 every thing works fine. I have a sqlserver2008 provider which connects to a remote sql server and loads one layer and shows and every thing is OK,

But when I moved my app on windows 7 on two PCs my layer did not load and sharpmap only shows a big red rectangular with an X  in it. What can make this happen?

I know my sql connection works fine

[2016-06-22 12:30] DGuidi commented on #23
this means an error, so you should see some exception in your code.

[2016-06-22 12:51] am2222 commented on #23
I can not see any thing in code, I works great on my laptop but when I move it to another pc it draws it

[2016-06-22 12:58] DGuidi commented on #23
maybe you are some code like this?

[code]

try to take a look also to [EventViewer](http://www.howtogeek.com/school/using-windows-admin-tools-like-a-pro/lesson3/)

[2016-06-30 09:00] FObermaier commented on #23
I think we can close this as it hase been resolved elsewhere

[2016-06-30 09:00] #23 closed, assigned to nobody

[2016-07-27 05:30] Sgoyal2243 opened #24 "Heat Layer Help"
`Hi` Team,
I am using your HeatLayer Map , but i have following issues with this :-

1.How can i change the size of Heatpoint.?
2.can i create a polygon of different color using heat map?
3.How can i style the HeatLayer?
4 What is BlendOperation how can i implement this.?

Moto To Achieve:- I have different values on different point for one Source and i have multiple source in my file i just want

[2016-07-31 20:08] am2222 opened #25 "what does this error mean?Must declare a coordinate system services object"
Hi,
While I want to open an shapefile It gives me this error
`Must declare a coordinate system services object`
what does this error mean?how can I fixe it?

[2016-07-31 20:48] am2222 commented on #25
well this may help others
`https://github.com/SharpMap/SharpMap/blob/faad193dc30c6724883f071632cbe683c84b45c0/Examples/ExampleCodeSnippets/ExampleCodeSession.cs`

[2016-07-31 20:48] #25 closed, assigned to nobody

[2016-08-01 17:07] am2222 opened #26 "IS there any sample how to edit geometries vertex by vertex?"
Hi,
I want to draw and edit geometries vertex by vertex..How can I do it?Can some one give me some examples?
I have already found this
`https://github.com/SharpMap/_SharpMap/blob/master/Branches/0.9.5-DeltaShell/src/Common/NetTopologySuite/Geometries/Utilities/GeometryEditor.cs`
but does not appear to works..or at least I dont know how to make it work
thanks

[2016-08-04 09:00] am2222 commented on #22
It seems this is a kind of bug

[2016-08-04 11:02] FObermaier commented on #24
See [answer on codeplex](https://sharpmap.codeplex.com/discussions/656701#post1480176)

[2016-08-04 11:02] #24 closed, assigned to nobody

[2016-08-04 11:03] #17 closed, assigned to nobody

[2016-08-05 20:08] jdwoodall opened #27 "MapBox throws exception when added to a form"
I have had the problem on and off for a while.  If I create a brand new blank project and add SharpMap and SharpMap.UI from Nuget along with all the other stuff it drags in, I get an error when I try to put a MapBox on the form.  It shows generally as something about SharpMap.UI already exists in the project.  Well, sure it does since it was just added by NuGet.

On an existing project, MapBox sim

[2016-08-05 20:43] am2222 commented on #27
can you add control using code?

[2016-08-06 21:23] am2222 opened #28 "Firing DoPaint in customTool"
Hi,
I am developing a tool to draw line and other shapes on map. I have found out that I have to fire DoPaint on tool after a mouse click.so.How can I fire it?
this method accespts PaintEventArgs and I dont know how to create this eventArg
Can some one please help me about it?
thanks

[2016-08-07 09:16] am2222 commented on #28
well.We must only call refresh() and it fires DoPaint

[2016-08-07 09:16] #28 closed, assigned to nobody

[2016-08-08 16:29] am2222 opened #29 "set mouse position on map"
Hi,
I am working on an snapping tool.I need to set mouse position on map,But it does not work.I use this code

`private void snapToPoint(IPoint fdr)
        {
            if (fdr == null)
                return;
            var imagepoint = MapControl.Map.WorldToImage(fdr.Coordinate);
            snappingPoint = new System.Drawing.Point((int)Math.Round(imagepoint.X), (int)Math.Round(imagepoint.Y))

[2016-08-28 08:48] am2222 commented on #22
@FObermaier  Hi friend,
Can you test this problem and give me some hint why this happens?
Here is an example of this error

here is the download link
https://www.mediafire.com/?aoj5lt2oi7m2vdl

we have two forms.here there is two bugs,
1- when I load a layer to form 1 map layer in form 2 does not load any thing
2- when I load a layer in form 2..the area that map object in form 1 occupies mouse whe

[2016-08-30 09:52] becio opened #30 "KML provider does not support StyleMaps with Style elements"
From https://developers.google.com/kml/documentation/kmlreference#stylemap:

`<StyleMap id="ID">`
  `<Pair id="ID">`
    `<key>normal</key>`
    **`<styleUrl>...</styleUrl> or <Style>...</Style>`**
  `</Pair>`
`</StyleMap>`

as you can see the _Pair_ element supports both the _styleUrl_ and _Style_ child elements but currently only the _styleUrl_ is supported.

[2016-09-07 03:30] rupakraj opened #31 "Highlight the selected geometry and enable feature selection on MapBox"
Hello,

I am unable to select the feature on the map  and highlight the selected. geometry.

I have 2 layers Land, and its label. I wanted to make a tool to enable the click on map feature, highlight it with different background color and show the attribute on grid.

Edit:

I have tried following

[code]

[2016-09-11 09:37] am2222 commented on #31
you don't need to convert worldPot into any kind of geometry, Just get its envelope (and meybe you have to grow it by a factor) and use it in ExecuteIntersectionQuery and it will return you the filltered geometries.

[2016-09-12 03:36] rupakraj commented on #31
Thanks @am2222

[2016-09-12 03:36] #31 closed, assigned to nobody

[2016-09-12 03:46] rupakraj opened #32 "Proper positioning of the Label"
Hello,

I am rendering simple map data with different parcel, load, construction etc. The data has label associated with data set. Database is in PostgreSQL/PostGIS.
I used following to load Label

[code]

Sample Output is as below
![capture](https://cloud.githubusercontent.com/assets/1549123/18424063/7b3af17c-78cb-11e6-98a9-81007d6e1370.PNG)

ParcelNo 9 is not placed properly.

How can I fix this

[2016-09-14 10:13] olezhko opened #33 "How to open Ozi files?"
I don`t find any sample to open ozi (*.map *.ozf2 *.ozf3) files. Maybe somebody work with it.

[2016-09-14 10:47] FObermaier commented on #33
I don't know these file formats. Do you have a specification?

[2016-09-14 11:04] olezhko commented on #33
files after program OziExplorer. its image with coordinates binding.

[2016-09-14 11:56] FObermaier commented on #33
I'm afraid that is not enough information to create a provider or layer for *.map/*ozf?

[2016-09-14 13:01] olezhko commented on #33
it`s enough. I take picture, open this picture in OziExplorer, make binding (x,y) to (latitude,longitude), set map projection (for ex: Transverse Mercator), and save. after that I have *.map file.

[2016-09-14 13:15] FObermaier commented on #33
Could you post a sample *.map file and the other files, too?

[2016-09-14 13:19] olezhko commented on #33
OziExplorer Map Data File Version 2.2
050k--l36-117-4.gif
D:\GCSFiles\BoundImages\Maps\050k--l36-117-4.gif
1 ,Map Code,
Pulkovo 1942 (2),WGS 84,   0.0000,   0.0000,WGS 84
Reserved 1
Reserved 2
Magnetic Variation,,,E
Map Projection,Transverse Mercator,PolyCal,No,AutoCalOnly,No,BSBUseWPX,No
Point01,xy,   99, 2989,in, deg,  44, 40.0000,N,  34, 15.0000,W, grid,   ,           ,           ,N
Point02,xy,

[2016-09-14 13:38] olezhko commented on #33
GDAL undestanding ozi format

[2016-09-14 13:54] FObermaier commented on #33
[Format specification is here](http://www.oziexplorer3.com/eng/help/map_file_format.html)

[2016-09-14 14:49] FObermaier commented on #33
You could try `SharpMap.Extensions` project and open the *map file with `GdalRasterLayer`

[2016-09-14 16:13] olezhko commented on #33
Couldn't load D:\GCSFiles\BoundImages\Maps\200k-014-035-017.map
`D:\GCSFiles\BoundImages\Maps\200k-014-035-017.map' not recognised as a supported file format.

`var map = new Map();
GdalRasterLayer layer = new GdalRasterLayer("layer",openFileDialog.FileName);
map.Layers.Add(layer);
mapBox1.Map = map;`

[2016-09-18 19:03] roccaab opened #34 "Problem visualizing with WMS layer on a background layer"
I am using a mapBox control in which i load
a layer (GoogleTileSource) and one from Wms service (WmsLayer).

Whilst the first one works I cannot visualize the wms layer on the background layer.
I tried whit various WMS services.

this is the code i use:

// GoogleTileSource
TileLayer googleLayer = new TileAsyncLayer(new GoogleTileSource(new GoogleRequest(GoogleMapType.GoogleMap), new MemoryCache<b

[2016-09-19 06:54] am2222 commented on #34
whats your error or problem?I have tested this kind of function and they work great together

[2016-09-20 08:38] roccaab commented on #34
I don't have neither compilation nor runtime problems.
The WMS layer seems to instantiate correctly.
In mapbox i can see the backround layer (google) that I can move and zoom into correctly, but I'm unable to see the overlap of any wms service with which I run a test.
I'm careful to modify the trasparent property to 'true'.
Maybe I don't correctly set the parameters of the wms request.
Could I hav

[2016-09-20 09:29] FObermaier commented on #32
By default labels are placed on the center of the geometry's envelope. This is done for performance reasons.
You have to assign a `LabelPositionDelegate` function:

[code]

[2016-09-20 09:29] #32 closed, assigned to nobody

[2016-09-20 17:47] am2222 commented on #34
@roccaab you know,It seems that you have some problems with wms parameters,Check Wmsexmamples project in source code,There is a working wms layer there

[2016-09-26 10:19] am2222 opened #35 "How to perform a reprojection on data"
Hi,
I have tested and found that reprojection of shape files have some problems, I can perform reprojection on some data but some of them has problems and make layer invisible or even make a map to draw a big red rectangle on it.
Is there a secure way to perform a shape file re projection on layers?

[2016-10-04 06:53] Mangepange opened #36 "Zoom by rectangle error in WPF"
If zooming using the Shift-key and dragging a rectangle, the zoom behaves incorrectly. I've found that the method MapBox.GetImagesAsyncEnd zeroes out the variable _dragEndPoint. This will make the zoom calculations in OnMouseUp to produce the wrong result. When removing the code which change _dragEndPoint the zoom works as expected. I've tried to check everywhere the variable is used (only in OnMo

[2016-10-04 07:41] Mangepange commented on #22
If you add the following code into App.xaml.cs of the WPFSamples application, its easy to see that wherever the two map-windows overlap, zoom does not work,

`public App()
    {
        var mw = new MainWindow();
        mw.Show();
    }`

I noticed that even if you close the underlying window, the area previously occupied STILL doesn't zoom. This lead me to check the private class MouseWheelGrabb

[2016-10-04 08:19] FObermaier commented on #22
Good catch!
The code was removed because it relied on WinAPI calls. Should be fixed with 14ac1b14ffd080121e5a594453a99e0c80606a22

[2016-10-04 08:19] #22 closed, assigned to nobody

[2016-10-07 14:45] theo2f opened #37 "Render with images"
Hello.
I'm openning one shape and something like to 100 dynamic objects (polygons and images).
This is very slow to render. Sometimes is taking 5 seconds to rendering when I change the zoom or moved the map.
Have a way to make it faster?

[2016-10-10 09:24] FObermaier commented on #37
Could you elaborate a bit more, show some code?

[2016-10-20 06:29] FObermaier commented on #35
To help you with this, I'd have to See the Code you are using and an excerpt of the data (just geometry).

[2016-10-24 21:00] netspark opened #38 "Support of .NET Core"
Is there any plan to port library to new vertion of C# and support .NET Core?

[2016-10-25 10:27] FObermaier commented on #38
There is currently no plan for it.
We'd have to wait for other core libraries to be ported to .NET Core, most prominent NetTopologySuite

[2016-10-26 10:09] am2222 commented on #38
I think sharpmaps development is not as active as before. And also I think it some how NetTopologySuite and Sharpmap join it will be a great one, Sharp map can handle most of viewing operations well and NetTopologySuite can handle other side well

[2016-12-01 08:08] FObermaier opened #39 "Problem with `IAsyncLayer`s and panning"
Using `IAsyncLayer` as background layers exposes problems when continuously panning the map.
Arriving tiles are drawn at the wrong position.
[Discussion on Codeplex](https://sharpmap.codeplex.com/discussions/654669)

[2016-12-02 12:19] pdsrebelo commented on #25
Just a small correction, CoordinateSystemFactory constructor doesn't take arguments anymore.

[2016-12-08 20:19] am2222 opened #42 "Style based on feature data returns nothing with null data"
Hi,
I have faced a problem.When I want to style a vector feature set base on its data column if they have null values in that column nothing shows. I think there must be some rules to deal with null values. Is there any way to fix it?
thanks

[2016-12-08 20:22] am2222 commented on #35
@FObermaier  sorry for my late answer. Here is my code.
[code]

If I uncomment `shapeFileLayer.CoordinateTransformation = transform;` part it show nothing for some shapes and for some others it draws a big red rectangular. Can you please give me some hint about fixing it? thanks

[2016-12-16 07:49] FObermaier commented on #42
Which theme are you talking about?

[2016-12-16 07:51] FObermaier commented on #39
Taken from the discussion mentioned above:

I think this behaviour occurs also when connecting to a slow WMS server, not only with slow internet connection. You can check the Spanish land registry WMS server if you want to be annoyed by slow loading: http://ovc.catastro.meh.es/Cartografia/WMS/ServidorWMS.aspx?service=WMS&request=GetCapabilities

[2016-12-18 19:07] am2222 commented on #42
simple theme base on feature data.this is a  piece of code which return nothing if we have null values in "PopDens"

//Create theme using a population density from 0 (min) to 400 (max)
myVectorLayer.Theme = new SharpMap.Rendering.Thematics.GradientTheme("PopDens", 0, 400, min, max);

[2016-12-19 09:59] FObermaier commented on #42
The VectorLayer explicitly handles `ITheme.GetStyle(fdr) == null` so I'm hesitant to changing this behavior.
You can wrap your gradient theme in a `CustomTheme`, that returns e.g. standard style in case the gradient theme returns `null`

[2016-12-19 09:59] #42 closed, assigned to nobody

[2016-12-20 06:31] am2222 commented on #42
why you flagged it as wontfix?is there any limitation?

[2016-12-20 06:46] FObermaier commented on #42
There may be applications that rely on this behavior and it's not impossible to get around this.

[2016-12-20 06:48] am2222 commented on #42
thanks for your help

[2016-12-20 06:56] am2222 opened #44 "Any example of linear layer lable"
Hi,
I can easily set lable for polygons but when I use this code for lines or point it shows nothing. what can cause this problem?

here is my code
[code]

[2017-01-20 12:58] FObermaier commented on #44
Try to
* set `ll.Style.IgnoreLength = true;`
* omit `ll.Style.MinVisible` and `ll.Style.Maxvisible` or check if `ll.Style.VisibilityUnits` fits the values assgigned to Min-/MaxVisible

If that fails provide a small sample shapefile along with the values of the variables used in the sample code above (`labelColumnName`, `originalLayer.MaxVisible`, `originalLayer.MaxVisible`)

[2017-01-26 09:17] FObermaier commented on #44
Is this resolved?

[2017-01-26 11:09] am2222 commented on #44
Hi dear @FObermaier ,
Sorry for my late answer, I am currently does not have any access to my developing machine so I could not check it, I'll share the results soon. Thanks

[2017-02-02 03:53] reubengann opened #46 "Simple example using local image files"
Sorry, I couldn't find this in the documentation. I want to load a map from local files (jpg, for instance) in a folder structure. It looks like the expectation is that folder 0 will have 0.jpg, folder 1 will have two subfolders, 0 and 1, with each having files 0.jpg and 1.jpg in them, etc. So I have that structure, and I try to show them using a MapBox component from SharpMap.UI:

[code]

I'm rea

[2017-02-02 07:41] FObermaier commented on #46
Your `TileSchema` is not set up correctly I suppose.

[2017-02-02 16:48] reubengann commented on #46
I have tried filling in the TileSchema so that it validates, though I'm adding things more or less at random

[code]
but I see no difference. How should the TileSchema be set?

[2017-02-14 08:57] aviabunin opened #48 ".ecw file becomes invisible, if you make the background pixels invisible"
Dear Gurus!
I took BlueMarble 40.ecw file , loaded it in GlobalMapper, reprojected it to the EPSG 3857 (wgs84 Mercator) and saved with setting parameter "Set background pixels invisible".  After that I see it in arcmap and do not see in sharpmap project. [This is an example of .ecw file](https://cloud.mail.ru/public/GSXy/Eyk2an7Uw)

[2017-02-14 17:15] becio opened #49 "GeoTransform does not calculate inversion matrix"
Under some circumstances, I have reproduced this with a large .ecw file, the GetTransform class does not calculate the inverse transformation needed to render the layer.

This is because the delta resulting from the matrix is less than epsilon value fixed in code, that is 1e-12, see the method ComputeInverse() from the GeoTransform class.

I do not know why it has been choosen this value and not a

[2017-02-15 11:28] ab-tools commented on #25
Just wanted to try SharpMap, compiled the latest source code and ran the "DemoWinForm" project:
When I try to open any Shapefile I found (which work perfectly in other programs), it fails to open with the message "Must declare a coordinate system services object!" in the SharpMap demo project.

What's the reason for that?

As this seems to be the same as this issue, I didn't want to create a new o

[2017-02-15 16:08] deryckb opened #50 "CharacterPointSymbolizer with Halo creates "spikes" in the halo"
There is a problem with using a halo on text labels.

The render routine creates a new Pen object based on the specified HaloBrush and Halo (width). However, it leaves the MiterLimit of this pen at the default of 10.0f.

The result is that letters with sharp turns, such as "M" or "W" create spikes in the halo effect.

The solution is to specify a small MiterLimit when the Pen is created (at line 2

[2017-02-16 09:19] FObermaier commented on #49
The intent is to avoid DivisionByZero exceptions. I'm not sure, but maybe it was introduced based on some ReSharper suggestion. @becio feel free to change it accordingly.

[2017-02-16 15:49] #49 closed, assigned to nobody

[2017-02-16 15:49] becio commented on #49
Changed the value of Epsilon to Double.Epsilon

[2017-02-17 11:15] FObermaier commented on #48
The problem is, that the ecw does not contain information about how to interpret the individual bands, they are all marked as being undefined.

I don't know if there is a way to mark each band to their respective band values using GlobalMapper.

[2017-02-17 11:20] aviabunin commented on #48
But arcmap somehow do this...

[2017-02-17 11:20] #48 closed, assigned to nobody

[2017-02-22 11:41] nhvu1988 opened #51 "Render map with layers have different SRIDs?"
I have a problem when rendering map with layers have different SRID.
For example, I initialize a map with SRID 25832 since I would like to use 25832 as a default SRID when changing something such as Center or Envelope. Also when getting drawing coordinates on map.

    var map = new Map {
        SRID = 25832
    };

For background layer, I use OSM (SRID 3857)

    // OSM SRID 3857
    var osmLaye

[2017-02-24 07:33] FObermaier commented on #51
TileAsyncLayer does not perform any reprojection.
You have to transform your vector layers to the projection of your tiles.

[2017-02-24 07:33] #51 closed, assigned to nobody

[2017-02-24 17:12] goldorak84 commented on #39
Same problem here, even on a fast ASyncTileLayer mbTiles provider.
The problem occurs when zooming and panning when the tiles at a particular zoom level didn't finish to draw.
The result is so unconvenient for my users that I came back to use simple TileLayer.
I hope someone finds the problem.

[2017-03-23 14:40] #50 closed, assigned to nobody

[2017-04-01 06:32] #46 closed, assigned to nobody

[2017-04-01 06:58] reubengann opened #52 "Incomplete display of tiles in Mapbox when loading"
Hi, I'm using SharpMap.UI's Mapbox control. In my Form_Load, I load an MBTiles layer into the mapbox

[code]
The issue is that not all the tiles display, and there's a hole in the map. (I have attached a screenshot). If I call refresh at a later time (such as when the user clicks), the entire map displays without issue. When working with Brutile by itself (using their MBTiles example), I did not n

[2017-04-20 03:50] terribletim opened #53 "Programming Practices with Locks/SyncRoot for Map / VariableLayerCollection / VectorLayer / GeometryProvider / GeometryFeatureProvider"
I’m relatively new to GitHub and would like feedback on a couple of points before working on any updates and issuing pull request. Links are provided to relevant code.

**Background:**
I have been reviewing locks in above classes in relation to dynamic layers in VariableLayerCollection. I am managing dynamic layers and their geometries on a separate thread, and one or more of the dynamic layers ma

[2017-04-21 09:09] becio commented on #53
**GeometryFeatureProvider**: you are right, the locks are wrong, __featuresLock_ must be removed, the correct way to go is using _DataRowCollection.SyncRoot_ as you suggest. Probably this lock has never been really useful.

**GeometryProvider**: layers sometimes are processed parallelly, see the use of the _LayerCollectionRenderer_ class. Maybe a read/write lock can fit. The goal is to not add any

[2017-04-21 10:47] terribletim commented on #53
Thanks for prompt response and offering to do some tests. I hope to have code ready within 2 weeks. How do I post - submit a pull request?

[2017-04-21 12:22] becio commented on #53
You should fork the project on GitHub: https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2017-05-09 03:53] bowen2018 opened #56 "GdalRasterLayer Open file with chinese-character fileName Occur Excepton"
Hello:
        I  use SharpMap v1.1 to Render and Display a tif with SharpMap.Extensions.GdalRasterLayer .
       When I open a RasterFile (.tif) with chinese-character fileName，it occur  Exception with the file is not exit in the hardDisk
![default](https://cloud.githubusercontent.com/assets/28552700/25834537/3885b500-34ab-11e7-85cf-871655464156.png)
Exception Message:
/--------------------------

[2017-05-09 05:23] bowen2018 commented on #1
where can i download SharpMap1.2 ?

[2017-05-09 07:46] FObermaier commented on #1
You have to compile it yourself, it has not been released.

[2017-05-10 11:13] FObermaier commented on #56
If you compile SharpMap yourself you will use GDAL v1.11.

[2017-05-11 01:47] bowen2018 commented on #56
If I only want to recompile GDAL to repair the problem and use the office SharpMap.dll, which GDAL version should I  can use. And how  associate the Gdal and SharpMap?

[2017-05-11 06:15] FObermaier commented on #56
That probably won't work at all.
The minimum effort you have to take is:
* grab the [code at that goes along with v1.1](https://github.com/SharpMap/SharpMap/archive/v1.1.zip)
* update GDAL package in the `SharpMap.Extensions` project
* compile `SharpMap.Extensions` and use just that.

[2017-05-11 10:17] #36 closed, assigned to nobody

[2017-05-16 02:48] terribletim commented on #53
@becio I have submitted a pull request for the above (excepting Variable Layer Collection). I have also performed some tests on data from shapefile dataprovider.

Apologies for delay.... I injured my hand requiring stiches which put me out of action for a while.

[2017-05-16 08:29] terribletim commented on #53
@becio I have also updated VariableLayerCollection as a 2nd commit (I see this has been included in my initial pull request).

Following on from above discussion on VariableLayerCollection, I'm assuming static members were originally used to avoid race condition described in [MSDN Timer.Stop](https://msdn.microsoft.com/en-us/library/system.timers.timer.stop(v=vs.110).aspx).

Static methods are fin

[2017-05-19 09:31] aviabunin opened #58 "Slow layer rendering"
Dear Gurus!
    There was no problem with rendering labelLayers for polygon or point layers.  But for line layer rendering is very long. There are about 300 rows for  roads (line layer) with there labels (the picture attached) , and time for rendering is about 120 seconds.

![labelsproblem](https://cloud.githubusercontent.com/assets/3097213/26241461/6c0d6d48-3c8d-11e7-94a7-de754b37caf0.jpeg)
   Th

[2017-05-19 11:34] aviabunin commented on #58
P.S. 	SharpMap 1.1
Feb 11, 2014, Stable
[Uploading _roads.zip…]()
This is shape file of roads

[2017-05-19 12:29] aviabunin commented on #58
The same problem with states of Karelia shape file - there are less then 20 lines and rendering time is about 2 minutes.   - [shape file of state borders is here](https://cloud.mail.ru/public/Dsyb/eBZXFMFws) and shape file of roads here  [line layer for roads of Karelia](https://cloud.mail.ru/public/GEz8/Jwg8ovxTk)

[2017-05-19 14:23] aviabunin commented on #58
The main delay is in DrawString procedure

`public static void DrawString(this Graphics self, Pen halo, Brush fill, string text, FontFamily fontFamily, int style, float emSize, StringFormat format, bool ignoreLength, GraphicsPath path)
        {
            if (path == null || path.PointCount == 0)
                return;

            var gp = new GraphicsPath();
            gp.AddString(text, fon

[2017-05-20 06:38] aviabunin commented on #58
Some examples. [Roads with SharpMap
](https://cloud.mail.ru/public/3yeG/eSDdgy5gA)    [states with SharpMap](https://cloud.mail.ru/public/Dsyb/eBZXFMFws) [roads with arcgis](https://cloud.mail.ru/public/N7ry/3g5FeF7Lr)  [roads with OSM](https://cloud.mail.ru/public/Hbzu/xR4tYQztP) I would prefer a style like in OSM. Any ideas how to do this style in sharpmap?

[2017-05-20 10:01] aviabunin commented on #58
The label is built along the border of the poligon , although
          `style.IsTextOnPath == false. `
Is it correct?

[code]

[2017-05-23 02:18] KinchoKaoo commented on #17
What should I do to use an offline tile map?

[2017-06-20 07:58] aviabunin opened #59 "How to determine the coordinates of a point at a given distance from the beginning of a line"
Dear, Gurus!
Is there any tool for finding the coordinates of a point at a given distance from  the beginning of a line (for example, a road)? Any ideas?

[2017-06-20 23:06] becio commented on #59
The equation of the road, considered a straight line in an Euclidean space, for short distances is ok, is:

_(y-y1)/(y2-y1)=(x-x1)/(x2-x1)_

so the coordinates of a point in that line are:

[code]

where d is the measure of distance at the given point, while d1 and d2 are the measure of distance at the ends of the line. Such measure can be kilometers for example.

[2017-06-21 05:50] FObermaier commented on #59
Check out the `LinearReferencing` namespace of `NetTopologySuite`.

[2017-06-21 11:39] aviabunin commented on #59
Thank you very much, that's just what I wanted!

[2017-06-21 14:03] #59 closed, assigned to nobody

[2017-06-26 09:20] aviabunin opened #60 "What is the appropriate way to calculate the physical length of the line and area of the polygon"
What is a proper way to calculate a phisical length of the line or area of the polygon (in Mercator projection , for example)?
Is there any tools in the SharpMap?

[2017-06-26 10:33] FObermaier commented on #60
SharpMap uses `GeoAPI.Geometries.IGeometry` as geometry objects.
They do have a `Length` and an `Area` property. If you have projected coordinates these should be in the dimension of the coordinates. If you have geographic coordinates these values are nonsense.
You have to project them to a suitable coordinate system an get those values then.

[2017-06-26 12:05] aviabunin commented on #60
Excellent! I will try! I have WGS_1984_Web_Mercator_Auxiliary_Sphere coordinate system (EPSG 3857). SharpMap - is excellent! Thank you very much!

[2017-06-26 12:12] FObermaier commented on #60
This particular CRS is not very accurate the further away you are from the equator.

[2017-06-26 12:20] aviabunin commented on #60
The  first version of the system will be for the Republic of Karelia (60 ° -66 ° N) No time to change coordinate system. Then, if it is for the whole of Russia - I'll take a look

![monitor](https://user-images.githubusercontent.com/3097213/27539134-f485c7ce-5a83-11e7-888c-af9daca9df86.jpeg)

[2017-06-26 13:12] aviabunin commented on #60
It seems that the calculation of the length (area) in coordinate system 3857 does not give sufficient accuracy. Is it correct, that for more accurately calculation the length (or area) of the object, it is necessary to reproject the line (polygon) to another coordinate system (just for this concrete operation) and then turn to the calculation procedure for length (area)?

[2017-06-26 13:17] FObermaier commented on #60
Yes

[2017-06-26 13:44] aviabunin commented on #60
Is there any library to reproject IGeomery?

[2017-06-27 12:00] aviabunin commented on #60
I meant something like  this  https://github.com/jorik041/sharpmap/blob/master/SharpMap/SpatialReference/Reprojector.cs

[2017-06-28 12:33] aviabunin commented on #60
The problem solves GeometryTransform class in GeoAPI.CoordinateSystems.Transformations namespace. For example:
[code]
After the transformation, we obtain the correct geometry length (area) like this:

[code]

Problem solved.
Thank you very much!

[2017-06-28 12:59] #60 closed, assigned to nobody

[2017-07-01 18:41] hcs3389 opened #61 "Rendering Issue with moving marker on VariableLayers"
Hi, I am new to SharpMap. I am trying to add a marker and making it move. It renders properly when i don't do any panning or zooming but the marker disappears whenever I zoom in or when I pans the map. The marker will reappear when i zoom out. It doesn't seems to be the MinVisible/MaxVisible settings as I have tried setting the MinVisible to 0 and MaxVisible to a high value. Attached is my sample

[2017-07-06 03:47] luo4567 opened #62 "Label Position is wrong in polygon"
I open the shp in ArcMap like this
![image](https://user-images.githubusercontent.com/7789211/27894715-7e77cafe-6240-11e7-8d3f-3c8c445ae2e9.png)
But I use openlayers to show the wms map like this
![image](https://user-images.githubusercontent.com/7789211/27894765-c59be866-6240-11e7-82d0-2602632f782d.png)
what's wrong?

[2017-07-06 07:21] FObermaier commented on #62
Please provide the code you used to create the map. Without it, we can only guess what is wrong.

[2017-07-07 02:16] luo4567 commented on #62
this is how I add the labelLayer,and return the map to the OpenLayers.Layer.WMS
![image](https://user-images.githubusercontent.com/7789211/27940260-38efe5ea-62fc-11e7-8f00-48b2e2d62fbb.png)
openlayers code
![image](https://user-images.githubusercontent.com/7789211/27940361-bec55830-62fc-11e7-9f2e-f37479ac0dbb.png)
I do nothing except this!

[2017-07-07 06:47] FObermaier commented on #62
I assume you have `MULTIPOLYGON` geometries. If that is the case, be sure to set
[code]
You can also try to adjust the label placement by assigning this delegate:
[code]
If that does not help it would be good if you could share the shapefile data.

[2017-07-07 09:14] luo4567 commented on #62
labelLayer.MultipartGeometryBehaviour = MultipartGeometryBehaviourEnum.All; it's not working！
labelLayer does not provide the 'GetLabelLocation' Method!
labelLayer.LabelPositionDelegate = (fdr) => fdr.Geometry.PointOnSurface.Coordinate;  it works a lot!
but something still wrong!
![image](https://user-images.githubusercontent.com/7789211/27952257-46059d5e-633a-11e7-9bd8-aa8ac2472ecd.png)

I use th

[2017-07-07 12:22] FObermaier commented on #62
We need to see the shapefile.

[2017-07-10 11:41] nagarajmp opened #63 "Map Image not rendering in imagebutton"
Hi All,

I have a problem while rendering map image to the image button. The image button appears blank when i load the form. I am using the following code to generate map.

[code]

This works fine when i run the code in my machine. But when i host it in server i am not able to see the map. below the screen shot of issue.
![screenshot-sharpmap](https://user-images.githubusercontent.com/19570588/28

[2017-07-11 03:58] #62 closed, assigned to nobody

[2017-07-14 14:45] Lotto2 opened #64 "mouse_move"
Hello,

i'm trying to move around a point on the map by moving the mouse.

when i call MapBox.Refresh() in the mouse_move event the map wents blank until mouse_up.

i tried MapBox.Invalidate, application.doevents - same game.

any ideas?

[2017-07-20 03:45] terribletim commented on #53
@becio have found and fixed a problem in my in update for GeometryFeatureProvider, and included in pull request.

[2017-07-25 08:11] Lotto2 commented on #64
Is there a sample code for drawing geometries an a SharpMap?

[2017-07-28 06:34] terribletim commented on #64
@Lotto2  [this](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/Examples/WinFormSamples/FormDemoDrawGeometries.cs) might be what you are looking for.

[2017-07-28 06:41] terribletim opened #65 "MapBox disabling CustomTool in OnActiveToolChanging"
MapBox [OnActiveToolChanging](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap.UI/Forms/MapBox.cs#L706) temporarily disables an active custom tool.

However, this is not re-enabled during [OnActiveToolChanged](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap.UI/Forms/MapBox.cs#L719)

Should **OnActiveToolChanged** be modified to re-enable a custom tool, such as:

[2017-07-28 07:25] Lotto2 commented on #64
Thanx a lot, this really is it!

[2017-07-31 09:27] Lotto2 commented on #64
Is there a sample for editing a geometry as well?
-moving points of a polygon
-adding points to a line or polygon
-removing points from a line or polygon

[2017-08-01 04:47] terribletim commented on #64
Try looking at [FormDemoDrawGeometries](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/Examples/WinFormSamples/FormDemoDrawGeometries.cs) and also see existing [Digitize Geometry toolbar](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap.UI/Forms/ToolBar/MapDigitizeGeometriesToolStrip.cs)

You'll probably benefit from downloading master branch and running the WinFormSamples d

[2017-08-02 11:53] Lotto2 commented on #64
the task would be to take a given geometry and edit it. nice would be to get - for example - a polygon shown as an area with points at the edges. click a point of an edge and move it around.

this geometry of

mapBox1_GeometryDefined(GeoAPI.Geometries.IGeometry geometry)

can this be accessed by code directly?

[2017-08-02 15:21] terribletim commented on #64
The buttons on the demo form are the equivalent of the Digitize Geometry toolbar. It may not be immediately apparent, but the events are handled in [MapBox control](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap.UI/Forms/MapBox.cs#L2042). It's quite a clever way of making core user functionality readily re-usable.

[2017-08-10 16:35] theo2f opened #66 "Get the filtered Envelope using GetExtends() (or anyhing else)"

[2017-08-10 16:49] theo2f commented on #66
Hi!
I'm using FilterDelegate to filter my shapefile.
After filter, the GetExtends() method still enveloping the full map.
The code:

var _shapeFile = new SharpMap.Data.Providers.ShapeFile("c:/Brazil", true);
_shapeFile.FilterDelegate = r => System.Convert.ToString(r["UF"]).Equals("RS");

VectorLayer newLayer = new VectorLayer("Brazil");
newLayer.DataSource = _shapeFile;

mapBox1.Map.Layers.Add(new

[2017-08-31 08:05] Matti-Koopa commented on #7
The NuGet package forces the old Version of Newtonsoft.Json which makes it icompatible with my project, which uses a newer one already.

Please change the requirement, to support any version >= 4.5.11 instead of forcing = 4.5.11.

[2017-08-31 10:16] becio commented on #65
I confirm, moreover I do not see any reason why the MapBox should disable the CustomTool, that property should be used only by devs for their use.

[2017-08-31 11:00] becio commented on #7
+1 for the update, meanwhile a workaround is to embed the conflicting assembly as resource of your project and using AppDomain.AssemblyResolve event to load it, this way you can have multiple versions.

[2017-08-31 15:09] terribletim commented on #65
Thanks. I shall submit a pull request when I'm back in the code next week.

I was also a bit confused at first by OnActiveToolChanging disabling CustomTool. However, it is required when the map has multiple toolbars, otherwise you can end up with multiple tools appearing to be enabled.

[2017-08-31 16:45] becio commented on #65
I confirm there is something wrong, but I am not sure about your solution.

The original problem which led to the disable assignment, as stated by its author in the comment, was that if you have a CustomTool assigned and then after you set the ActiveTool to a standard action, eg Pan, then the MapBox still considers the custom tool active, but this could be solved by simply resetting that property

[2017-09-01 03:54] terribletim commented on #65
OK - let me take another look when I'm back in the code and get back to you.

[2017-09-08 06:27] FObermaier commented on #66
For performance reasons the `ShapeFile.FilterDelegate` is not taken into account when calling `Shapefile.GetExtents()`

A way around this would be to
- call `ShapeFile.ExecuteIntersectionQuery(ShapeFile.GetExtents(), fds = new FeatureDataSet())` having the filter set,
- create a temporary provider based on the result (`var gfp = new GeometryFeatureProvider(fds[0])`)
- call `gfp.GetExtents()`.

[2017-09-08 15:05] #64 closed, assigned to nobody

[2017-09-08 15:12] Lotto2 opened #67 "PostGis-Provider on PostGres 9.6.4 and PostGis 2.3.3, error 42883: function getsrid(geometry) does not exist"
Hello,

i'm trying to run SharpMap over a database under Postgres 9.6.4 and PostGis 2.3.3.

nothing is shown on the map.

cause: PostGIS.cs / GetGeometriesInView

the function GetGeometriesInView throws an error trying to ExecuteReader() as shown below

[code]

error 42883: function getsrid(geometry) does not exist

does anyone know, what replacement under PostGis 2.3.3 exists for getsrid?

Thanx

[2017-09-08 16:00] Lotto2 commented on #67
Hoy, found out: st_srid.

i'm going to try to change PostGIS.cs to support PostGIS 2.3. might take a few days.

[2017-09-08 16:04] Maurizio80 opened #68 "Sharpmap WPF: strange red cross"
Hello all,
I see a red cross like this in my wpf version.
![image](https://user-images.githubusercontent.com/4158725/30219900-d4575bb0-94bd-11e7-9543-b7d8b059f207.png)

Until now I used sharpmap in a windows form project included in a solution with the main project in WPF. Now I'm trying to use the test project "wpfSample" but I don't understand how I can access to the map properties, such as addi

[2017-09-09 08:59] Maurizio80 commented on #68
I understand the motif of the red cross, this was becouse there is one layer without datasource property. About a question for set and get property of the mapbox inside of the wpf controls or call his methods i solve simply with this code:

`<smh:SharpMapHost x:Name="MapBox1" Grid.Row="0" Grid.Column="1" Height="Auto" Width="Auto" Margin="0,36,0,0" ></smh:SharpMapHost>`

[code]

it work fine

[2017-09-18 15:17] #68 closed, assigned to nobody

[2017-09-19 06:25] FObermaier commented on #67
I'm afraid, I cannot find the piece of code that you are refering to.

[2017-09-19 06:44] #66 closed, assigned to nobody

[2017-09-19 06:46] #56 closed, assigned to nobody

[2017-09-21 07:34] FObermaier commented on #65
@becio just curious, have you taken any action solving this issue that is available in the repository?

[2017-09-21 10:07] becio commented on #65
Unfortunatelly I do not have much time, anyway I did some tests, the quickest fix is to apply the patch from @terribletim, that is in fact the code I am currently using.

The method _UseCurrentTool_ can be kept as it is now, since the tool can be enabled only when it is active as long as external code do **not** modify the enabled value of the tool.

As I stated in the previous note, since externa

[2017-09-21 10:50] FObermaier commented on #65
So we can merge @terribletim 's pull request or just part of it?
`CustomTool`et. al. has not been in the released v1.1 package, so -imho- we can do with the setter whatever we like.

[2017-09-21 13:13] terribletim commented on #65
@FObermaier I haven't yet submitted above as a pull request, but since there seems to be general consensus that this is ok for the time being I will submit PR later today.

I do have an outstanding pull request consisting of 3 commits. I will follow up on this separately later today on original thread.

[2017-09-21 14:26] #65 closed, assigned to nobody

[2017-09-21 15:41] terribletim commented on #53
@becio another commit has been added to the pull request following extensive use of `GeometryFeatureProvider`.

Re commit on **VariableLayerCollection**... question I should have asked originally is whether it is desirable for `TouchTimer` to refresh layers immediately (and queue any further refreshes for 0.5 secs), or to queue requests for 0.5 seconds then refresh. My changes support the former,

[2017-09-21 17:09] becio commented on #38
Lots of types in _System.Drawing_ namespace used by SharpMap are not included in .NET Core 2, so no luck.

The rendering pipeline must be rewritten first, _Branches_TrunkRenderingRefactoring_ is an old attempt.

[2017-09-25 07:28] Lotto2 commented on #67
Can't find it in the actual source as well. Need to update. Thanks for the hint...

[2017-09-25 07:28] #67 closed, assigned to nobody

[2017-09-28 13:39] spsoofbaf opened #69 "GDIImageLayer Transparency not working"
I want to change opacity of a GDIImageLayer but changing Transparency from default value to any value does not change anything

[2017-10-04 12:22] am2222 opened #70 "Raster symbolizer example"
Hi,
Can any one please share a sample of how to symbolize raster layers using sharpmap?For instance, I have a DEM file which I can open using gdal extension but how can I colorize it?

[2017-10-04 21:27] am2222 commented on #25
@ab-tools  just take a look at this file,

https://github.com/SharpMap/SharpMap/blob/faad193dc30c6724883f071632cbe683c84b45c0/Examples/ExampleCodeSnippets/ExampleCodeSession.cs

[2017-10-05 08:17] ab-tools commented on #25
@am2222: Thanks for your reply!

But we decided to go with a custom ShapeFile rendering solution in the meantim.

[2017-10-10 12:18] FObermaier commented on #70
Have a look at the `WinFormSamples` [project](https://github.com/SharpMap/SharpMap/tree/Branches/1.0/Examples/WinFormSamples/GeoData/VRT). You may need a virtual raster file.

[2017-10-10 12:45] am2222 commented on #70
@FObermaier Hi, Thanks very much, it seems sharp map can only render vrt files but can not symbolizer normal tiff files like dem

[2017-10-23 06:18] FObermaier commented on #70
The vrt (virtual raster file) approach should work with tiff files as well.
As you can see by looking at the file, it refers to some other raster file that is of the ASC format.

[2017-10-25 17:05] am2222 commented on #70
@FObermaier  thanks very much

[2017-11-06 19:53] PachisPachis commented on #52
Hi reubengann

I think your problem could be related to this other issue I reported:

https://github.com/SharpMap/SharpMap/issues/39

I noticed this behaviour also.

Regards.

[2017-11-20 12:57] aviabunin opened #71 "How to copy image from raster layer"
Hi, I am trying to copy image from raster layer to file. The initial image looks like this:
![topo ptrscr](https://user-images.githubusercontent.com/3097213/33018842-0db22514-ce09-11e7-8458-4b6b63e2c134.png).
     With next code to save image:
[code]
I get the wrong picture like this:
![topo getmap](https://user-images.githubusercontent.com/3097213/33019221-797dd22e-ce0a-11e7-9610-7efc53e7ac82.jpg

[2017-11-20 13:10] aviabunin commented on #71
Although if I use a different resolution (300 dpi), then the picture is correct:
![topo6](https://user-images.githubusercontent.com/3097213/33019914-536339fa-ce0d-11e7-8758-e234ef5529ba.jpg)

[2017-11-20 13:10] #71 closed, assigned to nobody

[2017-11-20 14:53] aviabunin commented on #71
While it was not possible to understand when it prints correctly and when it crashes. On both scales can print correctly or not

[2017-11-21 07:25] FObermaier commented on #71
I use the `Map.GetMap()` function a lot to copy the map image to the clipboard and have not had the issue you are describing here. Maybe there is sth going on with the map behind the scene?

Have you tried to get the map image using a clone of the map?
[code]

[2017-11-21 08:12] #70 closed, assigned to nobody

[2017-11-21 08:13] #44 closed, assigned to nobody

[2017-11-21 08:13] #37 closed, assigned to nobody

[2017-11-21 08:16] #12 closed, assigned to nobody

[2017-11-21 08:17] #14 closed, assigned to FObermaier

[2017-11-21 08:19] #21 closed, assigned to nobody

[2017-11-21 09:01] aviabunin commented on #71
Sharpmap is excellent ! Thank you very much, Felix!

[2017-12-04 06:38] jieqin1987 opened #72 "can not render a shp layer"
I use sharpmap render a shp layer as bellow：
The Gfi contains the feature of the shp file
[code]
then I get error info like this：
[code]

And the shp file can be render well by the QGIS.

[2017-12-04 07:34] FObermaier commented on #72
How many features does your ShapeFile have?
Does the dBase-File (dbf) contain as many records?
Does QGIS yield proper values for the shape with the OID 3200?

[2017-12-04 08:22] FObermaier commented on #29
You are aware that `Cursor.Position` is the position on your whole screen(s).
`Control.PointToClient` is taking a **screen** coordinate an translates it into a **client** coordinate, one that is relative to the top-left corner of the control that is calling this function.

What you have with `MapControl.Map.WorldToImage` is a **client** coordinate that you want to translate to a **screen** coordin

[2017-12-04 08:22] #29 closed, assigned to nobody

[2017-12-04 12:00] jieqin1987 commented on #72
My dbf file like this
![image](https://user-images.githubusercontent.com/16496446/33551808-83eaa54c-d92d-11e7-9227-929df3b594dd.png)
![image](https://user-images.githubusercontent.com/16496446/33551834-977e2e4e-d92d-11e7-839e-65e059b50681.png)
form 0 to 3199 total 3200 features

[2017-12-04 12:59] FObermaier commented on #72
Leaves the question how many features your ShapeFile has?

[2017-12-04 13:02] jieqin1987 commented on #72
3200 features

[2017-12-04 13:05] jieqin1987 commented on #72
![image](https://user-images.githubusercontent.com/16496446/33554228-d1e36104-d936-11e7-8ea4-9782740f1941.png)

[2017-12-04 13:07] jieqin1987 commented on #72
I read the shp file by GDAL and get the file info as the picture show

[2017-12-04 13:09] jieqin1987 commented on #72
I can not upload the shp file in this page , how can I transmit the file to you

[2017-12-04 15:11] FObermaier commented on #72
What does `new ShapeFile(fileName, true).GetFeatureCount()` say?

[2017-12-04 22:32] jieqin1987 commented on #72
3200

[2017-12-05 07:32] FObermaier commented on #72
Please add SHP, SHX, PRJ and DBF file of your Shapefile file-set to a ZIP file and supply it with this issue.
([see this](https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/))

[2017-12-06 05:22] jieqin1987 commented on #72
I have found the bug
string fileName = FNGlobal.STR_RootDir + @"/Data/dem.shp";
            VectorLayer layCountries = new VectorLayer("Countries");
            layCountries.DataSource = new ShapeFile(fileName, false);
the second parameter of ShapeFile must be set false. Then it is ok.
[dem.zip](https://github.com/SharpMap/SharpMap/files/1533980/dem.zip)

[2017-12-09 13:40] #72 closed, assigned to nobody

[2018-01-05 07:19] jieqin1987 opened #73 "how to render multi polygon"
I need to draw many polygons on a map and render them with different color, how should I do?

[2018-01-07 05:11] jieqin1987 commented on #73
I need to render these polygons in one layer with different colors depend on there features. Every 1 second there features will be changed, and the program should re render them.

[2018-01-15 13:46] TLAG opened #74 "Changing Brightness (alpha value) of ECW File"
Hi there
I'm working on a tool which uses Sharpmap 1.1 to show a world map in .ecw format. Plus I've got some additional vectorlayers in mapinfo .tab format, which provide markers for example railroads, railway stations, tunnels, etc.
I succeeded quite quickly in stacking those layers and assigning them to a "Sharpmap.Map" object. That object is then assigned to a mapbox control and it all works a

[2018-01-16 09:52] TLAG commented on #74
Ok I found quite an easy solution myself. At the end of the render function of EcwRasterLayer you overlay a white rectangle with the alpha value you like. Like this:

g.FillRectangle(new SolidBrush(Color.FromArgb(alpha, Color.White)), g.ClipBounds);

[2018-01-16 09:52] #74 closed, assigned to nobody

[2018-01-17 14:33] glenatron opened #75 "Sharpmap WPF control does not behave in a fully WPF-compatible fashion"
As far as I can tell the SharpMap WPF control is effectively a WindowsFormsHost customised to work with the SharpMap forms controls. Consequently the control doesn't really fit well with the WPF rendering approach and one can't overlay controls and so on.

Is there a technical reason that the a set of WPF layer providers have not been created to allow a more compliant experience for WPF developers

[2018-01-18 14:27] skazemi opened #76 "Race condition causing exception in Map"
I get the following exception in Map.cs:

StackTrace:
   at System.Drawing.Drawing2D.Matrix.get_IsIdentity()
   at SharpMap.Map.WorldToImage(Coordinate p, Boolean careAboutMapTransform) in SharpMap\Map\Map.cs:line 1047
   at SharpMap.Map.get_Envelope() in SharpMap\Map\Map.cs:line 1153

[2018-01-22 11:20] #53 closed, assigned to nobody

[2018-01-22 12:28] glenatron commented on #75
I am looking at decoupling the rendering from the Graphics object in the hope I can try working with an alternative renderer - is there any kind of list, forum or Slack channel associated with the project where I can ask about any problems I run into or things I don't understand in the existing codebase?

[2018-01-22 14:24] FObermaier commented on #75
I'm currently looking into replacing usage of `System.Drawing` with `SkiaSharp` or `SixLabors.ImageSharp`.

We might as well make the renderer plugable, in that case we'd need the drawing primitives (`Point`, `Rectangle`, `Color`, `Pen`, `Brush`, `Font`, `Path` ...) inside SharpMap.

I'll try to listen to https://gitter.im/SharpMap

[2018-01-22 18:31] glenatron commented on #75
I can't find a way to do anything on Gitter as yet, not quite sure how it expects me to work - maybe you need to create a public room or ... something?

Anyway, the approach I am experimenting with at the moment is to create an IMapRenderer that can effectively replace the Graphics object in the rendering layers and allow different rendering approaches to be used without having to change the exist

[2018-02-08 11:04] dylanparry opened #77 "Labels over multiple lines"
I've been trying to figure out if it's possible to add a line break to a label. I've tried adding `\r\n` and `<br>` to the text used for the label, but they just render those strings as part of the label. I have some maps that are bilingual, and the labels have some place names that are different in the two languages, so I was hoping I could write one language on one line, then the other on a seco

[2018-02-12 09:50] nilmond010 opened #78 "Shape is not getting plotted on the map image generated"
I am trying to create map image from the attached JSON the image shows correct location but does not plot polygon.

Following function is used to create image from json

[code]

[Test.txt](https://github.com/SharpMap/SharpMap/files/1715888/Test.txt)

[2018-02-26 13:21] StuffOfInterest commented on #38
It may make more sense to target .NET Standard than .NET Core.  If SharpMap and required dependencies target .NET Standard then it can be used in both .NET Framework and .NET Core apps.  As for System.Drawing, that is available in the Windows Compatibility Pack (https://www.nuget.org/packages/Microsoft.Windows.Compatibility/).

[2018-03-04 07:11] roya-dalvand opened #79 "How to add WMTS Capabilities to SharpMap background layer?"
I try to add WMTS layer (MAP Sat) To sharpMap 1.2 and BruTile 0.18.1.0 But Not show Map
[code]

[2018-03-08 15:18] am2222 commented on #79
@roya-dalvand  please share the content of "http://10.180.125.87:7080/PBS/rest/services/sat/MapServer/WMTS/1.0.0/WMTSCapabilities.xml"

[2018-03-14 02:15] caiyusheng opened #80 "Why do I compile SharpMap.UI, always go wrong, do you have it, using the latest source code"
Why do I compile SharpMap.UI, always go wrong, do you have it, using the latest source code

[2018-03-14 08:34] caiyusheng commented on #80
internal bool Draggint
        {

            get => _dragging;
        }

 "get => "   wrong

[2018-03-14 10:39] FObermaier commented on #80
You are probably not using VS2017. This is a C# language feature that requires this VS version.

[2018-03-14 12:13] am2222 commented on #79
@roya-dalvand  It seems your tile server works fine, I assume it might be because of your maps SRS, what is maps SRS and how are you adding wms layer to map?Share your related classes so we can figure out the possible solutions

[2018-03-14 12:15] am2222 commented on #80
Using VS 2017 and last version which is available in `sharpmap's repository` I could compile it without any problems,It seems the problem is with your VS version

[2018-03-14 14:32] am2222 opened #81 "GDALRasterLayer calculates wrong boundries"
Hi,
While I was trying to add a landsats tif file intomap using GDALRASTERLAYER I faced an strange error,
In this class in this function
[code]

it returns

[code]

It seems it is calculates boundries wrong, I tried to reproject raster to 3857, or change maps projection to 4326 but nothing changed,
The strange part is that it works fine with other rasters. I have no idea why this problem happens,

[2018-03-14 15:45] caiyusheng commented on #80
I use this version of VS2015, this version is the failure to compile, I change the VS2017 try

[2018-03-14 17:23] joriswit commented on #80
This also seems to be the cause of TeamCity's build failure. Can TeamCity be configured to use the VS2017 build tools?

[2018-03-15 07:06] FObermaier commented on #81
I suppose the "bits per pixel" is computed wrong.
Could you share the TIFF or a part of it?

[2018-03-15 07:10] am2222 commented on #81
@FObermaier  It is a normal landsat 8 tif file. I tried with a vrt too but it was the same, I am uploading it now. I'll share it when it finished.

[2018-03-15 07:33] am2222 commented on #81
@FObermaier  Here you can find a download link of landsat tif https://mega.nz/#!81FDETRL!sYbtIRQutrBVVqR_y4MyFqxhH8S09Gl-1L04dC4L37M

[2018-03-15 13:42] caiyusheng opened #82 "How to show it directly with latitude and longitude"
How to show it directly with latitude and longitude

[2018-03-15 17:41] am2222 commented on #82
@caiyusheng  show what?you want to zoom to a lat,lon?

[2018-03-16 00:54] caiyusheng commented on #82
@am2222
It shows X, Y coordinates, and I want to get the latitude and longitude of the earth.

[2018-03-16 17:37] am2222 commented on #82
well it is just a simple SRC convert, this link might help you

https://stackoverflow.com/questions/14329691/convert-latitude-longitude-point-to-a-pixels-x-y-on-mercator-projection

[2018-03-17 08:02] am2222 commented on #81
@FObermaier  could it be because of SRID?

[2018-03-17 16:51] caiyusheng commented on #82
THKS

[2018-03-17 16:55] caiyusheng opened #83 "Can anyone show me a step by step example on how to use Sharpmap to display MS SQL server spatial data using C# as the programming language?"
Can anyone show me a step by step example on how to use Sharpmap to display MS SQL server spatial data using C# as the programming language?

Please note I have exploit some of the example online but nor seem to be displaying data from MS SQL server 2008.
===========c# ==========

private void button2_Click(object sender, EventArgs e)
        {
            VectorLayer layCountries = new VectorLaye

[2018-03-17 22:33] joriswit commented on #83
I have tested your code. I have used the `SqlServer2008` provider many times, but only with geometry data. so this is a first for me too.

To make it work, I had to make a few changes. In your code, I added a line to set the `ExtentsMode` property of the provider to `SqlServer2008ExtentsMode.EnvelopeAggregate`. This is needed because the default does not work with geography data.

I also changed t

[2018-03-19 00:20] caiyusheng commented on #83
@joriswit Can you display the map data of geography normally?

[2018-03-20 01:10] caiyusheng commented on #83
@FObermaier What's a good way to do it all the time?

[2018-03-20 12:13] ThomasN-Saab commented on #61
Without looking at your sample program (I simply don't have the time right now, sorry) this sounds a lot like a problem that I've had for a very long time and just solved.

In my situation I have a VectorLayer which uses a GeometryProvider as datasource. I found that the issue was that the underlaying geometry in the GeometryProvider wasn't updated with the VectorLayer, yet for some reason the Vec

[2018-03-20 19:20] joriswit commented on #83
@caiyusheng By normally, do you mean without changing the code? If so, then no, I did not succeed in displaying the map.

If you can confirm my change is working for you, I can commit it to the main SharpMap branch.

[2018-03-20 22:19] am2222 commented on #81
@FObermaier Hi,
Based on my investigations I found that the number of `x1` and `y1` are calculated wrong, I noticed that you are hard coding geotransform by these values

`geoTrans = new[] { 999.5, 1, 0, 1000.5, 0, -1 };`

and have used them in these functions

[code]

later you have used

`        public double PixelX(double lat)
        {
            return (_transform[0] - lat) / (_transform[1]

[2018-03-21 04:42] caiyusheng commented on #83
@joriswit
No, I mean, I compiled with you modified, you can't show it, show a big red fork, I don't know if there's a problem with my code, can I share the code?

[2018-03-21 08:32] FObermaier commented on #81
To reproduce this, could you share the code you use to display the file,
especially
* viewport of the map
* SRID of map

Additionally everything you do to configure the `GdalImageLayer`, esp.
* CoordinateTransformation
* SRID
* BitSize

[2018-03-21 08:49] am2222 commented on #81
@FObermaier  I just used the example of windows forms (GDALSample.cs) .  I just used these to create layer.

[code]
I did not changed `bitdepth` parameter or coordinate transform.
Do I miss some other configurations?

---
I noticed that setting this parameters prevents using

`geoTrans = new[] { 999.5, 1, 0, 1000.5, 0, -1 };` and loads maps
[code]

I have not tested the sitution where maps `SRID`

[2018-03-21 09:47] FObermaier commented on #81
There are several issues with your code:
* the image (i assume it is the one you posted previously) has a projection with the SRID 32638.
* the image has a BitDepth of 16
* to reproject the image to EPSG:4326 you need to call `layer.ReprojectToMap(map);`
* Don't set `layer.UseRotation` to `false`

[2018-03-21 11:41] #82 closed, assigned to nobody

[2018-03-21 19:24] joriswit commented on #83
@caiyusheng I can't debug your code; By "big red fork" do you mean the MapBox control shows a red X where the map should be? That sounds like an exception; do you have Visual Studio set to break on thrown exceptions? (Exception Settings -> Check all "Common Language Runtime Exceptions")

[2018-03-21 19:37] joriswit commented on #80
Closing issue, as @caiyusheng has updated to VS2017, and TeamCity build works again.

[2018-03-21 19:37] #80 closed, assigned to nobody

[2018-03-22 00:19] caiyusheng commented on #83
@joriswit  yes,the MapBox control shows a red X where the map should be

[2018-03-22 18:50] joriswit commented on #83
@caiyusheng What is the exception?

[2018-03-23 15:25] AvatharDG opened #84 "Shapefile issue in web context"
When you use a ShapeFile instance in web context the QuadTree, read from shape file index into _tree, is also stored in HttpCache.

Now when dispose is called on the ShapeFile, the _tree is disposed as well (since it is IDisposable). However the HttpCache entry is not removed. Thus leaving a disposed instance in the cache.

As such opening the same shape file at a later time, this entry is recover

[2018-03-24 17:12] am2222 commented on #81
@FObermaier  thanks very much. it worked. but it does not show any thing when maps projection is diffrent from images projection.but this not any problem. I have faced another problem which I think is because of wrong no value data. sharpmap draws image as a black rectangular . I have set its novalue data (it is 0 0 0  for an rgb image) but nothing changed

[2018-03-24 17:18] am2222 commented on #83
@caiyusheng  it seems you have not installed sqlservers data types on your client system

`https://www.nuget.org/packages/Microsoft.SqlServer.Types/`
for other records:
https://github.com/SharpMap/SharpMap/issues/23

[2018-03-25 05:07] caiyusheng commented on #83
@am2222 Can you share some successful examples of source code, I do not know where is wrong, has been debugging is a big red, SQL Server spatial types has been loaded, my email  caiyusheng@gmail.com

[2018-03-25 15:04] am2222 commented on #83
@caiyusheng  I'll try to share some examples., I am a bit busy these days. but as you said in your previous posts when you see a big red rectangular your code works but seems your system does not have some dependencies. try to put your code in a
[code]
and share the error message so we can help better and faster

[2018-03-25 16:03] am2222 opened #85 "Mapservers WMS layer wrong placed tiles"
Hi,
I am working on a wms layer. here is my code
[code]

When I add it to map it shows tiles in wrong places

<img width="898" alt="sketch" src="https://user-images.githubusercontent.com/4707503/37877151-e417b956-306b-11e8-84b5-1b29556d80ae.png">

My maps SRID is `4326` and layers srid as you can see in its get capabilities is `4326`,as you can see if we stretch tiles it seems they place in their

[2018-03-25 16:39] am2222 commented on #83
here is an example

[code]

[2018-03-25 16:58] am2222 commented on #79
This is a working example of adding a layer from `PBS` server.

[code]

<img width="917" alt="sketch" src="https://user-images.githubusercontent.com/4707503/37877643-785cdaae-3073-11e8-868c-e9096e66a21d.png">

[2018-03-25 17:01] am2222 commented on #17
@gorden1991

This might help you

https://github.com/SharpMap/SharpMap/issues/79#issuecomment-375985573

To serve maps you can use `geoserver` or https://archive.codeplex.com/?p=geopbs

[2018-03-25 18:41] am2222 commented on #85
Well, I think there is sth wrong with maps envelop.
I tried to get request URL from WMS layer. here is what it generates

`http://gmis.jrc.ec.europa.eu/cgi-bin/mapserv?map=/srv/www/htdocs/wms/wms_4km_modisa-chla.map&REQUEST=GetMap&BBOX=-450.330882352941,-180,450.330882352941,180&WIDTH=1361&HEIGHT=544&LAYERS=GMIS_A_CHLA_07_2002&FORMAT=image/jpeg&CRS=EPSG:4326&VERSION=1.3.0&Styles=&TRANSPARENT=True`

[2018-03-25 21:43] am2222 commented on #85
well I found that the problem is with `URL` and with `bbox` parameter. in fact instead of `-85.0404114621602,-180,85.0404114621602,180` The generated URL is `-180,-85.0404114621602,180,85.0404114621602` I guess I have to use a `Matrix` to transform those values. but  I have no idea if it works or not.

[2018-03-25 22:19] am2222 commented on #85
I managed to fix the problem using this wrapper.

[code]

I have no idea about other possible methods. or even why this happend. but it works now

[2018-03-26 01:12] caiyusheng commented on #83
Sorry, still not, no task is thrown out, my source code is here, the master help me to see if there is any problem
Https://github.com/caiyusheng/sharpmapTest.git @am2222

[2018-03-26 09:14] am2222 commented on #83
@caiyusheng  how is the structure of your table?
Try to reference `Microsoft.SqlServer.Types` to your application and set its `copy local` value to `true` I hope it works.

[2018-03-26 09:29] caiyusheng commented on #83
@am2222   =========MS SQL 2008=========
CREATE TABLE [dbo].[PT_TOWN] (
[ID] int IDENTITY(1,1) NOT NULL,
[CODE]	nvarchar(255) NULL,
[NAME]	nvarchar(255) NULL,
[geom]	geography NULL,
CONSTRAINT [PK__PT_TOWN__3214EC27164452B1] PRIMARY KEY CLUSTERED([ID])
)
GO
ALTER TABLE [dbo].[PT_TOWN]
ADD CONSTRAINT [enforce_srid_geometry_PT_TOWN]
CHECK ([geom].[STSrid]=(4326))
GO

[2018-03-26 14:46] am2222 commented on #83
What about this?
Try to reference Microsoft.SqlServer.Types to your application and set its copy local value to true I hope it works.

[2018-03-26 15:15] joriswit commented on #83
@caiyusheng When I check your code, i see the you have not yet set the `ExtentsMode` property of the provider to `SqlServer2008ExtentsMode.EnvelopeAggregate`. As I said before, the default value of this property does not work with geography data.

[2018-03-27 06:24] caiyusheng commented on #83
@am2222 I have quoted it, but I still can't do it

[2018-03-27 06:27] caiyusheng commented on #83
@joriswit Don't know how to do it, I don't know if you can share your feasible source code

[2018-03-28 09:47] roya-dalvand commented on #79
I was able to solve the problem with @am2222 's help
Thanks !

[code]

[2018-03-28 16:11] joriswit commented on #83
@caiyusheng I'm not sure what is not clear; I mean you have to set the `ExtendsMode` property. Example source code:
`mySql2008Provider.ExtentsMode = SqlServer2008ExtentsMode.EnvelopeAggregate;`

[2018-03-29 06:41] FObermaier commented on #85
@am2222 , you are tiling the WMS using `AsyncLayerProxyLayer`. Out of curiosity, the plain `WmsLayer` works correct? What is the extent of the `WmsLayer`?

[2018-03-29 14:13] am2222 commented on #85
@FObermaier  I tried both `AsyncLayerProxyLayer` and `wmslayer` and none of them worked. when I changed `bbox` parameters both of them started to work fine. It seems `bbox` parameters were wrong for this specific `wms` layer. I have no idea why this happened. I have tested with other wms layer and this error does not happened. the extent of wms layer as it gets from `getcapabilities` is

[code]

T

[2018-03-29 14:20] am2222 opened #86 "InvalidOperationException - object is currently in use elsewhere in wmslayer"
Hi,
It when we set `Opacity` parameter for a wms and use it with `AsyncLayerProxyLayer` an error happens in GDI+ which indicates that `InvalidOperationException - object is currently in use elsewhere ` it refers to  `_imageAttributes` which could not be used among different processes. I tried to change `wmslayer` class and added  this part into `render` function:

[code]
It works fine now.  I have

[2018-03-30 08:23] am2222 opened #87 "Wms Client 403 forbiden error"
Hi,
I some cases when I tried to load a wms layer this error happened

`The remote server returned an error: (403) Forbidden`

It happened when a wms client is going to download getcapabilities xml file,
I noticed that it mostly happens on servers which prohibits scripting download and they need  `userAgent` parameter to be set for `request` I tried to download xml using `HttpWebRequest` and it wo

[2018-03-30 15:21] caiyusheng commented on #83
private void button2_Click(object sender, EventArgs e)
        {
            try
            {

                VectorLayer layCountries = new VectorLayer("Mssql");
                SqlServer2008 MSSQLDP = new SharpMap.Data.Providers.SqlServer2008(connstr, "PT_TOWN", "ID", SqlServerSpatialObjectType.Geography);
                //MSSQLDP.Table = "gisdb.dbo.PT_TOWN";
                //MSSQLDP.TableSc

[2018-03-31 05:28] joriswit commented on #83
@caiyusheng I really need to know the exception to be sure, but I think you do indeed need the modified version.

To get the exception, you never confirmed that you have Visual Studio set to break on thrown exceptions? (Exception Settings -> Check all "Common Language Runtime Exceptions"). Also if that doesn't work you can try to disable the "Just My Code" debug setting temporarily. Hopefully then

[2018-03-31 14:01] caiyusheng commented on #83
@joriswit  Feel shy, still not out of the Exception task, map control is still a big red

[2018-03-31 14:10] caiyusheng commented on #83
@joriswit  System.Data.SqlClient.SqlException
HResult=0x80131904
The Message= column name'shape'is invalid.
Source=.Net SqlClient Data Provider
StackTrace:
At System.Data.SqlClient.SqlConnection.OnError (SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction).

But I don't have column name'shape'

[2018-03-31 14:14] joriswit commented on #83
@caiyusheng "shape" is the default name of the geometry column. Use one of the other SqlServer2008 constructors to specify your column name.

[2018-03-31 14:25] caiyusheng commented on #83
@joriswit System.IO.FileNotFoundException
HResult=0x80070002
Message= could not find the file "E:\\tempfile\\SharpMapTEST\\SharpMapTEST\\bin\\Debug\\SpatialRefSys.xml".
Source=mscorlib
StackTrace:
At System.IO.__Error.WinIOError (Int32 errorCode, String maybeFullPath).

[2018-03-31 14:29] caiyusheng commented on #83
@joriswit  My SQL2008 is geography type, not geometry column. How to handle this is good.

[2018-04-02 13:40] caiyusheng commented on #83
@am2222 Am2222, do you have a successful case? My SQL2008 is geography type, not geometry column

[2018-04-03 16:15] caiyusheng opened #88 "Sharpmap have the API documentation"
Sharpmap have the API documentation？

[2018-04-04 11:50] dannybucks opened #89 "SharpMap.Data.Providers.GeoPackage not available in nuget"
I tried to install SharpMap to use the GeoPackage part. I saw that there is nuget spec for SharpMap.Data.Providers.GeoPackage but the package is not available in nuget and is also not available when I just install SharpMap. Am I doing something wrong or is the GeoPackage part not yet available on nuget?

Thank you,
majorbenks

[2018-04-04 18:05] joriswit commented on #83
@caiyusheng Is the FileNotFoundException unhandled? Have you tried copying the SpatialRefSys.xml file to the folder specified? I know you use geography data, that is why I recommended setting `SqlServer2008ExtentsMode.EnvelopeAggregate`.

[2018-04-07 16:18] caiyusheng commented on #83
Collapse, is sharpmap not supporting this function?

[2018-04-07 16:22] caiyusheng opened #90 "Voronoi has anyone ever painted this"
Voronoi has anyone ever painted this

[2018-04-08 06:02] #69 closed, assigned to nobody

[2018-04-17 03:21] TannerBragg opened #92 "Update Newtonsoft.Json & BruTile"
(I really don't want to come off as whiny, but this is becoming quite the nuisance.)

You guys have commented before that you are trying to stay with the same version of BruTile and Newtonsoft.Json as the GeoApi dependency; however, this is starting to become a little difficult to accommodate.

SharpMap is many versions behind and it would be very nice if SharpMap came up to later versions.  As it

[2018-04-27 21:05] tkmawarire opened #93 "SharpMap WMTS / TMS Server implementaion"
Can anyone help me with the implementation of WMTS / TMS Server in SharpMap. Been trying out a lot from diff sources but i can seen to come up with a working solution.Below is a handler i am using, it's just drawing the boxes instead of data from the database.

[code]

[2018-04-30 07:16] FObermaier commented on #93
If I understand you correctly, then you are getting a result, but the result is an empty map.
If so, could you
* show us the code to generate the `Map` (`DatabaseUtil.SqlServer(...)`)?
* tell us what kind of spatial type you use (SqlGeometry/SqlGeography) and in which spatial reference system the data is stored.
* tell us whether or not you apply some coordinate transformation on the data.

[2018-05-03 17:44] #87 closed, assigned to nobody

[2018-05-03 17:45] #85 closed, assigned to nobody

[2018-05-04 07:29] tkmawarire commented on #93
Sure, am using SQLGeometry in WGS84 (4326). I didn't apply any transformations as that kinda gave me an error when i was working on WMS implementation. The WMS is working fine without the coordinate transformation so i thought i would skip it.  Anyway below is the code generating the `Map`:

[code]
The `CreateSqlServerLayer`:

[code]
And finally the `VectorLayerModel`:

[code]
Am just using this a

[2018-05-04 08:23] FObermaier commented on #93
I can't find the place where you set the viewport of the map in your code.
Maybe you are simply missing a call to `Map.ZoomToExtents()` or `Map.ZoomToBox(Envelope)`?

[2018-05-04 10:58] tkmawarire commented on #93
Yah, i didn't have thats that in my code. I am still getting just red square lines and no data.
[code]

[2018-05-06 15:17] terribletim opened #95 "RasterPointSymbolizer render error when scale != 1 or rotation is applied"
`RasterPointSymbolizer` does not render the symbol on specified point when scale != 1, or rotation is applied, as illustrated in attached diagram using a 64x64 pixel image to highlight the problem. In each case, the symbol should render centred on the graticule intersection.

![rasterpointsymbolizer problem](https://user-images.githubusercontent.com/17949545/39674706-31830464-517a-11e8-9599-494f34

[2018-05-07 11:21] terribletim commented on #95
Fixed. Will be submitting PR from new fork.

[2018-05-07 16:34] terribletim commented on #95
Sorry - it looks like I've messed up the PR after spending several hours trying to create a 2nd fork.

I thought this was a dead end so went back and committed changes under 1st fork (so commit is included with existing PR) and now see that it has shows up twice.

Apologies to those who have to weed through this. For future reference, if I have commits that should be under separate PRs should I cr

[2018-05-08 06:51] FObermaier commented on #95
To keep the PR focused, create a new branch off the current development branch.
If your addition requires features off of a previous PR, than you should branch off that branch.

[2018-05-12 00:58] tkmawarire commented on #93
After some debugging i found out that my `GetBoundingBoxInLatLngWithMargin(int tileX, int tileY, int zoom)` was returning bounds that was way out of my data bounds. I realized i was applying a coordinate transformation to my bbox giving me a bbox in pseudo mercator yet my layer is in wgs84. I changed the `GetBoundingBoxInLatLngWithMargin `  to:

[code]
Everything is now working fine. Thanks @FOber

[2018-05-12 00:58] #93 closed, assigned to nobody

[2018-05-16 01:20] rrbiz662 opened #96 "NOAA S57 files return a null DataSource on Ogr Initialization"
When trying to import an `S57` file downloaded from the `National Oceanic and Atmospheric Administration` (NOAA) the `OgrProvider` returns a `null` DataSource on initialization. This was noticed in the `OgrSample` of the `WinFormSamples`.

[US1AK90M.zip](https://github.com/SharpMap/SharpMap/files/2007176/US1AK90M.zip)

[2018-05-25 00:37] beppe9000 opened #97 "How do I translate coordinates?"
I would like, given a coordinate, to translate it towards another one by a determined distance.
Can this library do that? Are there alternatives?

[2018-05-27 17:46] PachisPachis commented on #39
Hi Felix

I'm still using Sharpmap for a street lighting GIS, no greater tool found.

Our lighting inventory is getting bigger and bigger so it would be great to be able to turn on OnlyRedrawWhenComplete without breaking the background tile layer.

I tried by myself to fix it but exceeds my skills.

Regards.

[2018-05-29 09:31] FObermaier commented on #97
SharpMap uses NetTopologySuite to handle geometries.
NetTopologySuite has an AffineTransformation class that can translate coordinates the way you seem to want it.
http://nettopologysuite.github.io/html/class_net_topology_suite_1_1_geometries_1_1_utilities_1_1_affine_transformation.html

[2018-05-29 09:31] #97 closed, assigned to nobody

[2018-05-30 20:27] beppe9000 commented on #97
Thanks! I will look into it.

[2018-06-15 15:18] terribletim opened #98 "VectorLayer Render issues"
Hi, and first up thanks for all the effort that has gone into SharpMap.<br/><br/>
I noted that sometimes features are not rendering with `CustomTheme`, due to `VectorLayer` incorrectly using the default style [at line 269](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap/Layers/VectorLayer.cs#L269) and not the theme style.
I will clean up and issue PR, but **before** I do this would

[2018-06-15 16:15] terribletim commented on #98
Apologies - cancel the first paragraph re Line 269. It is testing if Layer whether or not layer is enabled.

[2018-06-23 12:22] piksel commented on #10
@FObermaier I actually did this myself when trying to slim down the library. I will submit my changes to [https://github.com/piksel/SharpMap](piksel/SharpMap). How far along are you?

[2018-06-29 04:40] sindizzy opened #99 "Build Assemblies"
How exactly do you build the assemblies. I cloned the project and built it and got numerous errors. There must be a step I am missing.

[2018-06-29 04:46] terribletim commented on #99
Have you restored NuGet packages?

[2018-06-29 04:48] sindizzy commented on #99
I don't believe so. How do i do that? All I did was go to the main page and I chose Clone or Download>Open in Desktop. Are there instructions somewhere that I can follow?

[2018-06-29 04:51] terribletim commented on #99
In Visual Studio, right-click on Solution and choose Restore NuGet Packages

[2018-06-29 04:57] sindizzy commented on #99
Ok did that and response is "All packages are already installed and there is nothing to restore.". Clean solution and then rebuild solution. Got 56 errors.

[2018-06-29 06:08] terribletim opened #100 "Layer TargetSRID and minor geom issues"
1. Setting [`Layer.TargetSRID`](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap/Layers/Layer.cs#L278) does not reset layer `CoordinateTransformation`<br/>
2. When transforming extents, [`GeometryTransform.TransformBox`](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap/CoordinateSystems/Transformations/GeometryTransform.cs#L40) throws error on empty geometry rather th

[2018-06-30 03:02] sindizzy commented on #99
Tried to download the zip file and same result. Is there a place where I can get the compiled DLLs just to test the framework?

[2018-06-30 07:04] terribletim commented on #98
Please can someone give me some direction on 2 points relating to this issue:<br/>

1.  What was the intention in LineStrings being rendered twice when `EnableOutline = true`? I'm familiar with cartographic symbology with inline / offset line techniques, but I'm not sure what was intended here - are then any samples I can refer to where `EnableOutline = true` is required to achieve a particular re

[2018-06-30 23:57] sindizzy commented on #99
After some research it appears the project requires C# 7.0. Opened the project in VS2017 and it compiles fine.

[2018-07-02 06:55] #99 closed, assigned to nobody

[2018-07-02 12:17] FObermaier commented on #95
This has been fixed with PR #91, hasn't it?

[2018-07-02 12:18] FObermaier commented on #90
This is very broad

[2018-07-02 12:18] #90 closed, assigned to nobody

[2018-07-02 12:31] FObermaier commented on #10
@piksel , thanks for your offer to help, but I seem to have removed them already all.

[2018-07-02 12:31] #10 closed, assigned to FObermaier

[2018-07-02 12:32] #34 closed, assigned to nobody

[2018-07-02 13:20] FObermaier commented on #98
That SharpMap renders `LineString`s twice when `EnableOutline` is set to `true` is a feature. This way you can easily render streets/roads/rivers/... with some border, like shown in the image below:
![unbenannt](https://user-images.githubusercontent.com/2065346/42166193-84a43d22-7e0a-11e8-8c5d-95488881ed20.PNG)
The whole dataset is painted twice, in this case on the first pass with a thicker black

[2018-07-02 13:34] terribletim commented on #95
Correct.

[2018-07-02 13:34] #95 closed, assigned to nobody

[2018-07-02 15:13] terribletim opened #106 "Rotated Viewports using Map.MapTransform and mouse actions"
When applying rotation to viewport, mouse actions do not behave as expected (eg initial drag for pan action is correct, but at MouseUp the map centre changes to incorrect position. Similarly, mouse wheel zoom with ZoomToPosition enabled does not maintain mouse position with the pin-point accuracy when no rotation is applied).<br/><br/>

`ScaleBar` text is also incorrect as it is based upon Envelop

[2018-07-03 04:14] terribletim commented on #98
Thanks for info. There's a bit of a conflict here - the 2 scenarios (for the benefit of anyone who is reading this at a later date) are normal rendering, or rendering by Theme.<br/><br/>

In the case of normal rendering `protected void RenderInternal(Graphics g, MapViewport map, Envelope envelope)` this could be achieved with a `GroupStyle` (skipping special handling for `EnableOutline` described

[2018-07-03 08:21] FObermaier commented on #98
What is it that you want to achieve?

[2018-07-03 14:23] terribletim commented on #98
In a VectorLayer with linestrings and polygons, I want to render the polygons with thick outline (eg 4) and the linestrings in the same colour with thinner line (eg 2). As it stands at the moment, **EnableOutline** must be true for polygon outline to be drawn, and this results in linestrings being drawn twice - first with width 4, then with width 2 (ie end up with unwanted thick linestrings) <br/>

[2018-07-04 11:09] FObermaier commented on #98
I was not able to determine the time when the `EnableOutline` logic for `LineString`s was introduced to SharpMap. IIRC it has been there when I started to use SharpMap. That's why I am hesistant to change it.
Mixed layers with `ILineal` and `IPolygonal` geometries are -even nowadays- rather uncommon. So generally this should cause no trouble to the general purpose user.

The simplest solution to y

[2018-07-04 13:24] terribletim commented on #98
Thanks for suggestion, and ok, no changes to VectorLayer rendering.

[2018-07-04 13:24] #98 closed, assigned to nobody

[2018-07-04 13:45] FObermaier commented on #96
Sorry, which of the files have you been trying to open?

[2018-07-08 13:33] StuffOfInterest commented on #38
Was just looking to see what it will take to target SharpMap at .NET Standard.  The two libraries referenced by the core SharpMap project (GeoAPI and NetTopologySuite) both have "pre" versions out that support .NET Standard (https://www.nuget.org/packages/GeoAPI/1.7.5-pre020 and https://www.nuget.org/packages/NetTopologySuite/1.15.0-pre063).  As I mentioned back in February, the Windows Comparabil

[2018-07-12 11:48] RichyP7 commented on #75
Would you recommend to use the UI.WPF in a big project or is it still in a prototyping state?

[2018-07-23 15:07] terribletim commented on #100
Merged and Closed.

[2018-07-23 15:07] #100 closed, assigned to nobody

[2018-08-20 11:45] DragonTM opened #108 "Is it possible using the lib without publishing own project as an open source?"
I would like to use this lib in my own project but I don't want to make it open source. Is it possible under the current license?

Thanks

[2018-08-21 20:12] sindizzy commented on #108
Here is the license
https://github.com/SharpMap/SharpMap/blob/Branches/1.0/license.txt

[2018-08-30 18:34] eiredrake opened #110 "Last character of label chopped off."
I've got a rather odd scenario here. I'm working in Windows, using VS 2017 and framework 4.6.1. Essentially I have been putting labellayers into my map and have been noticing that in certain fonts, the last character is getting lopped off. I thought it might just be something in the code I'd written so I created a test method that just assembles the label layer (with text of: (<fontname> <size>pt)

[2018-08-30 18:56] eiredrake commented on #110
One thing I forgot to mention: I am using SharpMap 1.1.0 with SharpMap.Extensions 1.1.0 and SharpMap.UI 1.1.0 if any of that information helps.

[2018-08-30 21:26] PABLOCORRO commented on #110
it worked for me (copied from codeplex) :
----------------------------------------------
Hello,

the last character of labels were cut off in v1.1. not always but in case that the text of the label was longer than let's say 10 characters well.

i found the cause of this bug in
SharpMap.Rendering.VectorRenderer.cs
        public static SizeF SizeOfString74(Graphics g, string text, Font font)

[2018-08-31 13:37] eiredrake commented on #110
whatever it was must have been fixed. I downloaded the most recent code from the repo and wrote up a quick test harness to replicate it and can't.

I guess i'll just have to wait for the next Nuget release but I'm glad it has been dealt with either way. For now i'll just put a . at the end of my strings.

Thanks!

[2018-09-10 14:07] Lotto2 opened #112 "Labellayer on vectorlayer with GeometryProvider as datasource"
Hello,

i'm working with a layer of helpers (points and lines). The points and lines are used as orientation when drawing polygons into maps. Because they are only temporarily necessary, the layers DataSource is a GeometryProvider.

I wonder wether it is possible to define a LabelLayer on base of geometry.UserData. Or are there other smart ways to label such a layer?

Here's my VB-code:

[code]

[2018-09-12 07:42] FObermaier commented on #38
This has been neglected for quite a while:
Please have a look at the [refactor/netStandard](https://github.com/SharpMap/SharpMap/tree/refactor/netStandard) branch, especially this commit: f803e7997df34a56ee70deca6b0a4e96ac43dd4a

An initial package can be tested:
* [SharpMap.1.2.0-pre1.nupkg.zip](https://github.com/SharpMap/SharpMap/files/2374017/SharpMap.1.2.0-pre1.nupkg.zip)
* [SharpMap.Layers.B

[2018-09-12 11:11] StuffOfInterest commented on #38
Very glad to hear that this is back in action!  I'm trying to integrate the package above into my project now.  Unfortunately, I'm running into an issue.  It looks like I need the "SharpMap.Layers.BruTile" project to get this working right.  I see you have been doing updates there so hopefully it has been updated for .NET Standard.

Any chance you can spin out a NuGet package for that project?  Ot

[2018-09-12 16:53] StuffOfInterest commented on #38
It looks like something is not happy in the library.

I have this unit test:

[code]

It is generating the following error:

[code]

Perhaps something changed in GeoAPI.

Not sure if it would be of help but I did find reference to the error here:

https://github.com/NetTopologySuite/NetTopologySuite/issues/189

It appears to have something to do with assembly scanning under .NET Standard.

UPDATE

[2018-09-13 19:28] joriswit commented on #112
I have not tested this, but maybe this helps:
[code]

[2018-09-20 12:50] Lotto2 commented on #112
Hi joriswit and anyone,

i didn't know, that labellayers have a LabelStringDelegate-attribute. But hellas no, it does not work.

After

`Mapbox.Map.Layers.Add(labelLayer) `

rendering of the map does not work no more. Only the Openstreetmap-backgroundlayer is still there.

I used SharpMap.Rendering.Thematics.FontSizeTheme.

Is there perhaps some sort of custom theme that might help?

[2018-09-20 13:05] FObermaier commented on #112
Use a `GeometryFeatureProvider`.

[2018-09-21 15:10] Lotto2 commented on #112
GeometryFeatureProvider works fine. Great;-)

`

        'FeatureDataTable
	Dim FeatureDataTableHelpers As New SharpMap.Data.FeatureDataTable
	FeatureDataTableHelpers.TableName = "Helpers"
	FeatureDataTableHelpers.Columns.Add("Description", System.Type.GetType("System.String"))

	'GeometryFeatureProvider
	Dim geoProHelpers = New SharpMap.Data.Providers.GeometryFeatureProvider(FeatureDataTableHelpe

[2018-09-21 15:11] #112 closed, assigned to nobody

[2018-09-26 13:11] StuffOfInterest commented on #38
I've been continuing to work on integrating the .NET Standard version of SharpMap into my .NET Core application.  Work has now moved beyond just unit tests to actually building maps.  So far, I'm able to add tile layers to the map and generate an image for a bounded section of a map.  Only headache I had here was the change from "BoundingBox" to "Envelope" when invoking the "ZoomToBox" method.  Th

[2018-09-27 06:03] FObermaier commented on #38
@StuffOfInterest I suppose it is related to #115.
The provided solution should be usable for the netStandard branch as well.

[2018-09-27 12:46] StuffOfInterest commented on #38
Interesting that the exception is swallowed and just rendered as a red box instead of bubbling up an exception.  Still, if this fixes it then great.  Let me know when you merge over the commit to the net standard branch and cut a new package.  I can test it out pretty quickly as I'm actively working around that code for a few more days.

[2018-10-01 07:05] Learner003 opened #116 "Raster Layer removed when apply rotation on map"
I am new to SharpMap. I am developing a simple offline map app but stuck at a point.

**What i did so far?**

1. initialized map

`SharpMap.Map map = new SharpMap.Map();`

2. Added Raster layer

`GdalRasterLayer Rasterlayer = new GdalRasterLayer("Raster", "world_raster_mod.tif"); map.layers.add(Rasterlayer);`

3. Added vector Layer

[code]

4. Applied map transoformation (because i want this line

[2018-10-01 08:52] FObermaier commented on #116
I don't see your call to `map.ZoomToExtents()` or  `map.ZoomToBox(Envelope)`

[2018-10-01 09:14] Learner003 commented on #116
I created envelope  to zoom to that envelope.
map.ZoomToBox(env);
still same issue

[2018-10-01 10:22] FObermaier commented on #116
Are you seeing some kind of exception, especially a `TypeInitializationException`?
Could you provide the image in question and some real coordinates?

[2018-10-02 03:48] Learner003 commented on #116
i am not getting any exception. i debug the code its fine. but when map loads only vector data is showing but not raster.
but one thing which i experienced yesterday was i am getting raster when i zoom to specific coordinate. but not proper raster tile.
i have only one tile which is of 30KM approx. and line created from geometry factory . with in line i have some coordinates(point drawn) after eac

[2018-10-11 08:18] terribletim commented on #83
In addition to unnecessary use of `FlipXY` mentioned above, **SqlServer2008.cs** has two more errors affecting GEOGRAPHY types in function [GetBoxFilterStr](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap/Data/Providers/SqlServer2008.cs#L529). </br>

1. `bbox` coordinates are flipped (without calling FlipXY). This is the cause of the red cross mentioned above as latitudes sometimes

[2018-10-24 03:32] kinsung opened #117 "System.InvalidCastException: cannot cast "SharpMap.Rendering.Thematics.UniqueValuesTheme`1[System.String]" to "SharpMap.Rendering.Thematics.IThemeEx""
I wan to set color to a shp region:

`
SharpMap.Layers.VectorLayer vlay = new SharpMap.Layers.VectorLayer("States");
vlay.DataSource = new SharpMap.Data.Providers.ShapeFile("states_ugl.shp", true);

VectorStyle landStyle = new VectorStyle();
landStyle.Fill = new SolidBrush(Color.FromArgb(232, 232, 232));

VectorStyle waterStyle = new VectorStyle();
waterStyle.Fill = new SolidBrush(Color.FromArgb(1

[2018-10-24 04:43] #117 closed, assigned to nobody

[2018-10-24 04:44] kinsung commented on #117
It's my fauIt,  I just mixed different versions of the dlls.

[2018-10-29 07:34] #106 closed, assigned to nobody

[2018-10-30 02:07] z954134 opened #118 "How to load posgis raster data?"
How to load posgis raster data?who have try?

[2018-11-01 03:00] terribletim commented on #92
@FObermaier @pauldendulk I'm working on some updates at the moment. SharpMap SLN currently using **BruTile** and **BruTile.Desktop** `0.18.1`. Is it ok if I update to `2.0.1`? A quick check of dependencies shows NetFramework >= 4.5 and NetStandard >= 1.6 which should be compatible with Branches/1.0. Or is there some reason why this shouldn't be done for the time being? Thanks

[2018-11-03 10:41] dermoench42 opened #119 "confusing Message Handling, clarification needed"
I code on a small Tool to localize images, means, set GPS coordinates and Direction in EXIF data. I use SharpMap and got it to display various Maps and an image (points) with custom Symbols. The pan / zoom functionality works when the pan Tool is activated. I discovered to turn of the ZoomToPointer function by setting the according mapbox member to false.

Now I'd like to implement 2 functionaliti

[2018-11-04 05:18] terribletim opened #121 "SharpMap.SqlServerSpatialObjects and Geography type"
**SharpMap.SqlServerSpatialObjects** currently supports Geometry spatial type only. I have been looking at adding support for Geography spatial type and have the following questions:

1. Can I switch to NuGet Package **Microsoft.SqlServer.Types** v14.x? The benefits are _consistent and compatible_ versions of **Microsoft.SqlServer.Types.dll** and SqlServer binaries across projects, as the package

[2018-11-04 09:27] terribletim opened #122 "Update packages in UnitTests. BruTile test serialization error"
I would like to updates packages in **UnitTests** project:

1. **BruTile** 0.18 >> 2.1

2. Add **NUnit.Runners** and **NUnitTestAdaptors** for the benefit of those without 3rd test software

The reason for updating BruTile is because of  issue _"System.Data.SQLite.Core 1.0.109.1' is not compatible with 'BruTile.Desktop 0.18.1 constraint: System.Data.SQLite.Core (= 1.0.94)"_ which must be resolved

[2018-11-06 08:24] terribletim commented on #119
Hi - have you seen the sample tool in **Examples/WinForms/SampleTool**? It shows how to use a task to find closest feature on Mouse Hover, and in this case show a tool tip.

From your description, on Hover you want to select features from one or more layers When the mouse hovers, you need to try and select features within radius

[2018-11-09 14:47] terribletim commented on #121
Question - how does **SharpMap.SqlServerSpatialObjects** fit into the future of SharpMap with NetTopologySuite?  Currently this library reads SQL bytes (via Microsoft.SqlServer.Types) and also provides spatial operation/relational functionality (via SqlServerSpatial).
Under NTS there is:

-  [NetTopologySuite.IO.SqlServerBytes](https://github.com/NetTopologySuite/NetTopologySuite.IO.SqlServerBytes

[2018-11-12 14:24] terribletim commented on #122
@FObermaier please can you let me know if acceptable to change BruTile package as outlined above?
Or should project support both versions similar to SharpMap.Layers.BruTile:
[code]
Would this require upgrading to NetStandard?

[2018-11-12 14:39] FObermaier commented on #122
`BruTile` has a history of hiding properties, changing types or removing attributes.
Keeping the serialization working has always been a difficult path.

That is why I left the BruTile version for Net40 at v0.18.1. AFAIK serialization using `[Serializable]` does not work with netStandard. We'd have to come up with sth else.

[2018-11-14 13:48] terribletim commented on #122
Thanks - seems like I'll need to revert for the time being.

For reference (not of any help right at this moment) see [underlying bug in .Net Framework](https://github.com/dotnet/standard/issues/300#issuecomment-355066196) that has been [fixed](https://github.com/Microsoft/dotnet/blob/master/releases/net472/dotnet472-changes.md#bcl) in `.Net Framework 4.7.2`

[2018-11-15 03:00] alsaleem00 opened #123 "DbaseReader and column name encoding"
The DbaseReader allows to set the encoding in case encoding is not recognized. However, I can only set encoding for record values.

I got several shp files with some column names encoded in widows-1256. I checked the code and it is fixed for UTF7.
Shouldn't the encoding of column names follow the encoding setting?

Thanks.

[2018-11-15 08:13] #122 closed, assigned to nobody

[2018-11-17 05:21] terribletim commented on #121
Will be adding support for **Geography** type shortly incl. basic support for spatial operations and relational functionality.
In order to avoid breaking changes, NuGet `Microsoft.SqlServer.Types` will not be used and neither will `NetTopologySuite.IO.SqlServerBytes`.

[2018-11-17 05:21] #121 closed, assigned to nobody

[2018-11-17 05:24] #108 closed, assigned to nobody

[2018-11-17 13:39] terribletim commented on #92
See explanation [here](https://github.com/SharpMap/SharpMap/issues/122#issuecomment-437904675) why BruTile hasn't been updated

[2018-11-19 14:30] FObermaier commented on #123
According to
https://www.clicketyclick.dk/databases/xbase/format/dbf.html#DBF_STRUCT
field names have to be ASCII encoded.

As that is not an official source, we might consider being more lenient here.

[2018-11-19 16:30] alsaleem00 commented on #123
Yes. Indeed, the field names should be ASCII (UTF7). However, this is how we got them!
I used FastDBF to get them decoded, but it is better to do it in one package as we are using them with shapefile.

Speaking on official source, is development active on this project ? I meant that if new features are being developed.

Thanks.

[2018-11-20 12:11] FObermaier commented on #123
After a period of suspense, we are working on a new release.

[2018-11-20 12:44] alsaleem00 commented on #123
Excellent.

[2018-11-20 12:44] #123 closed, assigned to nobody

[2018-11-27 12:32] bouyeijiang opened #124 "how do create shpfile"
how do create or export shpfile?

[2018-11-27 14:09] terribletim commented on #124
Try [NetTopologySuite.IO.ShapeFile](https://github.com/NetTopologySuite/NetTopologySuite.IO.ShapeFile) and see  [ShapeFileDataWriterTest](https://github.com/NetTopologySuite/NetTopologySuite.IO.ShapeFile/blob/master/NetTopologySuite.IO.ShapeFile.Test/ShapeFileDataWriterTest.cs) for samples

[2018-11-28 02:59] bouyeijiang commented on #124
can support create memory shpfile?

[2018-11-28 03:52] terribletim commented on #124
If you don’t require persistence, then Maybe you should be looking at [GeometryFeatureProvider](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap/Data/Providers/GeometryFeatureProvider.cs)

[2018-11-28 07:44] bouyeijiang commented on #124
not yet support create the .prj file?

[2018-11-28 08:45] bouyeijiang commented on #124
when  i define  enum type that about the  ShapefileDataWriter.GetHeader method have a bug

[2018-11-30 08:02] semicloud opened #125 "How to add a ColorBlend to a GdalRasterLayer?"
Hi, guys, I hava a problem when I using SharpMap to display a colorful GeoTiff file. My code as follows:

[code]

I have already set the `ColorBlend,` but it is not work, SharpMap still display the raster data as white and black.
![image](https://user-images.githubusercontent.com/13747974/49276021-23685500-f4b8-11e8-8c34-6d7e4bf9e6d7.png)

The demo project (VS 2017) and test data can be downloaded

[2018-11-30 10:02] FObermaier commented on #125
The `GdalRasterLayer.ColorBlend` property is only used when the displayed band is of type `GCI_Undefined`.
You need to wrap your GeoTiff to a [virtual raster](https://www.gdal.org/gdal_vrttut.html).

[2018-12-03 08:32] semicloud commented on #125
Thank you for your wonderful help @FObermaier , I have already change the color blend using your advice. The main code as follows, may be someone need it.

            var mapBox = new MapBox {Dock = DockStyle.Fill};
            var driver = Gdal.GetDriverByName("VRT");
            // convert raster.tif to raster_demo.vrt
            var dataset = driver.CreateCopy(@"Data/raster_demo.vrt", Gdal.Op

[2018-12-03 10:35] #125 closed, assigned to nobody

[2018-12-04 13:24] xc398013967 opened #127 "Sharpmap source opens many errors and cannot generate.dll."
Sharpmap source opens many errors and cannot generate.dll.  ,Who shares all the DLLs generated by. net 4.0

[2018-12-05 17:06] Lotto2 opened #128 "Scalebar incorrect using OpenStreetMap as background"
i have this map with 1-km-boxes upon it. if i use OpenStreeMap (SRID 900913) as a background, the scalebars 1000m is ~half the size of a 1-km-box. i tried different srid's (found in wiki): 900913, 3857, 102113, 103100, 3785, 3587. same game.

![sharpmap_osm_scale_srid_900913](https://user-images.githubusercontent.com/10242264/49528917-39f61e00-f8b5-11e8-8d06-bfbbefb32481.png)

if the map's srid is

[2018-12-06 22:54] StuffOfInterest commented on #38
Was the refactor/netstandard branch merged into the master?  I don't see it out there anymore.  If it was, any idea on when a release may be coming out?  I'm getting closer to using this in a project and the customer really doesn't like seeing things like "-pre1" in dependency versions.

[2018-12-07 06:19] FObermaier commented on #38
It has been merged into Branches/1.0
For the timeline of v1.2 I can't make any promises.

[2018-12-07 12:00] StuffOfInterest commented on #38
Some good news, I pulled down the source and built my own package from the 1.0 branch.  The issue with the red box I reported earlier and you thought was part of #115 is gone and my marker is rendering now.  Thanks.

[2018-12-11 14:40] terribletim commented on #128
Hi - thanks for pointing this out. For (Web) Mercator projection, size (distance) distorts as latitude increases from the Equator to the poles, where the scale becomes infinite. Refer to [Wikipedia](https://en.wikipedia.org/wiki/Mercator_projection#Scale_factor) for more info, and summary on [GisStackExchange](https://gis.stackexchange.com/questions/93332/calculating-distance-scale-factor-by-latit

[2018-12-12 07:56] Lotto2 commented on #128
Hi terribletim, i'll kiss your feet if you do;-)

[2019-01-01 16:54] annemariedavid opened #129 "VS2017 and SQL data"
Hi !

I have a project wich display SQL data. It works fine on VS2013 on a windows 7 machine. Since I have migrated my project to VS 2017 on windows 10, the SQL data are not showing on the map. Not red X, no  raised exceptions, no error messages, just no data displayed. I have added the microsoft.sqlserver.types, did everything I could regardless to the "Can anyone show me a step by step example o

[2019-01-02 02:22] terribletim commented on #129
Can you connect to SqlServer via SSMS or similar?
Which provider are you using: SharpMap.Data.Providers.SqlServer2008 (WKB), or SharpMap.SqlServerObjects (native types)? Microsoft.SqlServer.Types is only required for the latter, and may require a binding redirect.
Geometry or Geography? If Geography, try zooming in/out on area of interest to see if data appears (issue fixed in pending PR).
Are you

[2019-01-02 16:07] annemariedavid commented on #129
Thanks for your response. So, yes, I can connect to SqlServer. My query works fine also. It returns a dataset contaning a geometry type. My provider is a sharpmap.data.providers.SqlServer2008 :

           Dim d As SharpMap.Data.Providers.SqlServer2008 = New SharpMap.Data.Providers.SqlServer2008(ConnStr, "DI", "SHAPE", "OBJECTID", SharpMap.Data.Providers.SqlServerSpatialObjectType.Geometry)

[2019-01-08 15:46] annemariedavid commented on #129
Ok, I have found out that it's the uniqueValuesTheme that cause the problem. SQL data is ok, but I cannot render it as I used to do in VS 2010 (same code but does not work in VS2017). Still searching !

Applying a uniqueValuesTheme on a shapefile works fine. As long as applying a customTheme on a vectorLayer. I really need your help because I don't know where to search from here !!

[2019-01-10 03:20] bouyeijiang opened #130 "about chinese random code bug"
the code is
 GetHeader(features[0], features.Count,Encoding.UTF8):

throw exception:
Setting the encoding is only allowed once, either by means of the constructor or this property setter

[2019-02-01 16:09] annemariedavid commented on #129
Any idea, clue or hint ? I need it to work soon.. thanks !

[2019-02-04 13:04] FObermaier commented on #129
Could you show us how you set up your `UniqueValuesTheme` and a (CSV)-sample of the attribute data? Maybe the data types don't match exactly.

[2019-02-04 13:29] #129 closed, assigned to nobody

[2019-02-04 13:34] annemariedavid commented on #129
Yes, sure ! Thanks.. your help is appreciated.
[UVR.txt](https://github.com/SharpMap/SharpMap/files/2828166/UVR.txt)

[DI.zip](https://github.com/SharpMap/SharpMap/files/2828165/DI.zip)
[DI.pdf](https://github.com/SharpMap/SharpMap/files/2828179/DI.pdf)

[2019-02-04 13:51] FObermaier commented on #129
Maybe your issue is not databound at all. Have you tried to disable the `UniqueValuesTheme`?

[code]

[2019-02-04 14:08] annemariedavid commented on #129
Yes ! And the data display ok !
![capture](https://user-images.githubusercontent.com/45371761/52213179-58987700-285c-11e9-98c3-ea22500c3793.JPG)

[2019-03-01 10:32] tinohager opened #131 "nuget package is very old"
Is this package up-to-date https://www.nuget.org/packages/SharpMap/?

[2019-04-16 09:14] DGuidi opened #132 "compilation error: missing code"
tried to build 1.0 branch and WinFormSamples project doesn't build, apparently because _SqlServerTipes_ folder wasn't added to the repo.

https://github.com/SharpMap/SharpMap/blob/9b400122265159fe9c98ca33cf14dcac735c5765/Examples/WinFormSamples/WinFormSamples.csproj#L186

[2019-04-16 13:54] terribletim commented on #132
This folder and contents should have been added as part of NuGet package **Microsoft.SqlServer.Types** (v14.0.1016.290).

When I was working on PR #126 I ran into VS problem with packages not auto-refreshing, and had to manually Restore NuGet Packages for the solution.

[2019-04-16 15:24] DGuidi commented on #132
yep. I've uninstalled and then installer microsoft.sqlserver.types package, and all is ok now. thans for super-fast support.

[2019-04-16 15:24] #132 closed, assigned to nobody

[2019-04-17 08:14] DGuidi commented on #132
anyway, a little suggestion. add `loader.cs` and `readme.htm` files to .gitignore

![Screenshot_61](https://user-images.githubusercontent.com/216627/56271752-866e2780-60f9-11e9-8d75-a416a07f6ce6.png)

[2019-04-18 02:30] hongjiapeng opened #133 "how to lock the viewport by interface?"
I want to transfer the interface of lock the viewport by interface,but I don't know how to do,do you know how to get it, I will be grateful.
![image](https://user-images.githubusercontent.com/26671281/56332972-f3022880-61c4-11e9-8544-bc27abf2a597.png)

[2019-04-18 09:26] FObermaier commented on #133
On the `SharpMap.Map` you have to set the following properties:
* `MaximumZoom`
  The maximum value that `Map.Zoom` can take.
* `MinimumZoom`
  The minimum value that `Map.Zoom` can take.
* `MaximumExtents`
  The area that is allowed to be displayed on the map.
* `EnforceMaximumExtents`
  A flag indicating if the above value should be enforced.

[2019-04-18 15:04] Lotto2 opened #134 "ProjNet transform coordinates LAEA 2 UTM32"
Hello,

i tried to convert coordinates from LAEA (Lambert_Azimuthal_Equal_Area) to UTM32. The creation of the CoordinateTransformation fails. Message:

Projection Lambert_Azimuthal_Equal_Area is not supported.

Any idea how to solve this?

VB-Code:

[code]

[2019-04-22 04:30] z954134 opened #135 "how to support GDAL PostGIS Raster driver?"
how to support GDAL PostGIS Raster driver?

[2019-04-28 14:47] ekoswr commented on #58
Dear Felix and Sharpmap Gurus

Thank you so much for the great code you made and maintain so far.
I have the same problem with aviabunin, when i try to load arond 10,000 points or more on the map.  we have feature on our map applications to show the vehicle's GPS coordinate history along the road and when we reach to around 10,000 points, the map form is become very slow and sometime not respondin

[2019-04-29 07:07] FObermaier commented on #58
Instead of using a VectorLayer with a custom theme create a seperate layer that focuses on just your `GPSHistoryData`. There are implementations that use `OpenGL` or `SharpDX` for a better rendering performance of puntal data. But the actual implmentation is usually specific to the purpose.

[2019-04-29 14:09] groege commented on #38
Hey,
Is there a working NuGet package online?
Thanks.

[2019-04-29 15:15] Lotto2 commented on #128
A week seems a long time...;-)

[2019-04-30 05:22] ekoswr commented on #58
Felix, thank you for your advise. we will do some research on OpenGL and SharpDX

[2019-04-30 09:03] FObermaier commented on #58
@ekoswr for further exchange on your issue please use SharpMap/SharpMap.DeltaShell#1

[2019-04-30 13:38] terribletim commented on #128
Aye. And a chaotic one at that. Unforeseen circumstances I'm sorry. Things almost back to normal and I haven't forgotten.

[2019-04-30 18:39] ekoswr commented on #58
Felix. ok understood. thanks for advise.

[2019-05-03 06:39] FObermaier commented on #134
This is a problem with ProjNet4GeoAPI not handling this projection.

[2019-05-03 06:39] #134 closed, assigned to nobody

[2019-05-17 15:22] DGuidi opened #136 "IsEmpty BitFlag wrong (maybe)?"
https://github.com/SharpMap/SharpMap/blob/9b400122265159fe9c98ca33cf14dcac735c5765/SharpMap.Data.Providers.GeoPackage/Geometry/GpkgBinaryHeader.cs#L10

According to table 5 in [geopackage specification](http://www.geopackage.org/spec/#gpb_format), IsEmpty mask shouldn't be
[code]

[2019-05-21 09:02] #58 closed, assigned to nobody

[2019-05-28 02:21] hongjiapeng commented on #133
okay,thank you,I have solved it.

[2019-05-28 02:32] hongjiapeng opened #137 "how to solve the ArgumentException?"
![image](https://user-images.githubusercontent.com/26671281/58446481-75bac380-8133-11e9-95e6-6d5d40992123.png)
hi guys,this exception occurs when I drag the MapBox from the outside to the inside. I try to determine the coordinate value, but it is useless. Do you know how to solve it? I will be very grateful

![image](https://user-images.githubusercontent.com/26671281/58446379-21174880-8133-11e9-8c

[2019-05-28 02:49] #133 closed, assigned to nobody

[2019-05-29 14:15] bmomen opened #138 "WFS Provider not working at all?"
I cannot seem to get any geometry/bounding box information using the WFS Provider. I've tried all examples and mentions of this class online and still cannot get it to work. Anyone actually using this?

Edit: I'm using the default geoserver install and can successfully instantiate a WFS, however the extents and geometry are empty.

[2019-05-30 15:07] bmomen commented on #138
The WFS Provider did not work for me since it was from the Nuget package, last updated 2014. After compiling the Github latest version it worked.

[2019-05-30 15:07] #138 closed, assigned to nobody

[2019-06-10 09:42] skazemi commented on #76
Resolved race condition on Map.MapTransform #94

[2019-06-10 09:42] #76 closed, assigned to nobody

[2019-06-19 06:20] FObermaier commented on #128
Closed with 1799eceaac9684adf3fdd4859a522cfbf93e67d9

[2019-06-19 06:20] #128 closed, assigned to terribletim

[2019-06-25 05:28] DGuidi commented on #127
take a look also to #132

[2019-06-25 05:44] DGuidi opened #140 "developer documentation little fix"
In [SqlServer Project readme](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap.SqlServerSpatialObjects/ReadMe.txt) is stated that SQL Server 2008 CLR Types are needed: actually I've fixed my build in my PC installing SQL Server 2012 CLR Types too.

[2019-06-26 16:06] terribletim commented on #140
I agree it's a bit confusing and can try to clarify now and then tidy up projects later.

[SqlServer Project readme](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/SharpMap.SqlServerSpatialObjects/ReadMe.txt) **CLR Types** refers to `Microsoft.SqlServer.Types.dll`.

`SharpMap.SqlServerSpatialObjects` project currently references `Microsoft.SqlServer.Types.dll` installed by SqlServer 2008 (

[2019-06-28 12:02] tommytom73 opened #141 "Sharpmap on Sharepoint"
Is there an example or project for using the map in SharePoint?

[2019-07-13 20:09] aviabunin opened #143 "The problem with build sharpmap"
Dear Gurus!
Urgently needed to use GoogleMapType.GoogleSatellite .
When downloading last version , not all projects are loaded. I get an error

![build sharpmap error](https://user-images.githubusercontent.com/3097213/61176173-bfb51700-a5c4-11e9-91a1-2515a262d531.jpg)

Can't a nybody help how to solve the problem?

[2019-07-14 04:30] aviabunin commented on #143
Installed a new version of the studio (2019), the projects have opened, although apparently it was enough to install VS 2017

[2019-07-14 06:06] aviabunin opened #144 "Can't get GeoAPI 1.7.5"
Can't rebuild Sharpmap solution, because can't update solution to GeoAPI 1.7.5  library  .
The same question in  [https://github.com/NetTopologySuite/GeoAPI/issues/51].
Can't anybody get me full version of sharpmap solution with all needed packages ?

[2019-07-14 06:29] terribletim commented on #144
I'm working with latest code base from Branches/1.0 and building successfully, so sounds like an issue with packages on your dev computer. Try restoring all packages on the solution prior to rebuild - for some reason VS doesn't always seem to detect and pull missing packages.

[2019-07-14 19:45] aviabunin commented on #144
MaybeI don't have enough experience, but where I can find GeoAPI 1.7.5? Now there is no library for this on nuget. Could you put somewhere archive of all the necessary libraries?
I have try Install-Package GeoAPI -Version 1.7.5 , but with no success

[2019-07-15 05:58] FObermaier commented on #144
Maybe you have limited your package source to some local nuget feed?
![pkgsrc](https://user-images.githubusercontent.com/2065346/61197734-bf0ca580-a6d6-11e9-9666-e0ee2aa4e6c1.PNG)

[2019-07-15 06:19] aviabunin commented on #144
Thanks!

[2019-07-15 09:09] aviabunin commented on #144
I still needed to correctly indicate package source

![image](https://user-images.githubusercontent.com/3097213/61205582-1cb1e980-a6f9-11e9-812b-7cae632f1d60.png)

[2019-07-15 09:10] aviabunin commented on #144
Thank you very match! All works!

[2019-07-17 07:42] terribletim opened #146 "Map Graticule"
Fully configurable Graticule map decoration.... coming soon:

**Geographic Coordinate System**
![Graticule-GCS](https://user-images.githubusercontent.com/17949545/61356551-cda6b880-a8a0-11e9-914e-e7a492b56220.png)

**Projected Coordinate System**
![Graticule-PCS](https://user-images.githubusercontent.com/17949545/61356585-deefc500-a8a0-11e9-8d94-505489888c17.png)

**Web Mercator**
![Graticule-WebM

[2019-07-17 08:13] aviabunin opened #147 "What BruTile version to use?"
In WinFormSamples is used BruTile version 2.0.1.0. I  and osm and google layers are shown correctly. When I have tried to use this version in my project  , got message

When I replace reference on 0.18.1.0  I can see OSM and google layers (satellite images). How to do it correctly?

[2019-07-17 11:05] FObermaier commented on #147
You need to update your TargetFramework to sth. higher than .Net40. Choose the same as in the WinFormSamples project.

[2019-07-17 12:20] aviabunin commented on #147
Thank you very match!

[2019-07-17 14:03] aviabunin commented on #147
I have updated my TargetFramework to 4.5 as in the WinFormSamples, but on the line
[code]
program step somewhere, not on the next line.

[2019-07-17 14:15] aviabunin commented on #147
![bruTileErr](https://user-images.githubusercontent.com/3097213/61382965-6ac01c00-a8b6-11e9-99e3-f458468d7eff.jpg)

[2019-07-17 14:21] aviabunin commented on #147
![bruTileErr1](https://user-images.githubusercontent.com/3097213/61383399-3f89fc80-a8b7-11e9-8eb1-4b2d32ff7c1b.jpg)

[2019-07-18 07:26] hongjiapeng opened #148 "device move"
![image](https://user-images.githubusercontent.com/26671281/61437698-4cb6f200-a970-11e9-981a-1a53be9958df.png)
The program itself has a Center property that moves the device to the center of the screen. How do you move the device to one-third of the width of the screen? I will be very grateful,thank you!

[2019-07-18 07:32] terribletim commented on #147
There's a complete working sample in `Examples/WinFormSamples`. Run this project, and try the menu option **Shows Async Tile Layers [MapBox]**, and on the next form select **Google**.

Also, `BruTile 0.18` has a dependency on `System.Data.SQLite.Core" version=1.0.109.1`. I think you have inadvertently got a later version. The SQLite owners recently de-listed this verion which means it doesn't appe

[2019-07-18 09:07] terribletim commented on #148
`Map.Center` and `Map.Envelope` give you the coordinates you will need in world units.
Define a new `Envelope` at your desired location, then pass the envelope into `Map.ZoomToBox`

[2019-07-18 13:08] aviabunin commented on #147
Of course I am working with this sample. I repeated all reference from this project and can't  undestand what is the difference.  When I go to definition for TileAsyncLayer from Form2.cs in this project i go to SharpMapLayers(net40client), but in my project a go to SharpMap.Layers
![net40Client](https://user-images.githubusercontent.com/3097213/61459835-488dd300-a976-11e9-9605-fc0e3d55c0ab.jpg)
![

[2019-07-18 14:44] aviabunin commented on #147
1. When connected to my solution those projects from SharpMap solution, that are connected in the example, then go to definition for TileAsyncLayer   is the same.

2. When  connected the Examples/WinFormSamples project to my  decision, it works correctly too.

[2019-07-19 09:49] aviabunin commented on #147
After I copy app.config from winFormSample to my project,  OSM layer appeared. But when I am trying to switch to Google satellite Image - the error appear

[2019-07-19 11:13] aviabunin commented on #147
All works!
Thank you very match!!!

[2019-07-23 02:32] hongjiapeng commented on #148
Is it necessary to define a Center,like property under the Map class, and then assign the Coordinate of the element to the Center? I'm sorry,I don't understand a bit.

[2019-07-23 06:09] FObermaier commented on #148
If you do not want to change the width and height of your viewpoint area you only have to adjust the calculation of your `Map.Center` property.

As your offset (as I understand it) is 1/6th of the width  of the viewport to either side of the center you need to set `Map.Center` to
* `Map.Center = new Coordinate(devicePt.X + (1d/6d) * Map.Envelope.Width, Map.Envelope.Centre.Y)` or
* `Map.Center = ne

[2019-07-23 07:47] hongjiapeng commented on #148
It's okay,thank you,this is a nice solution.

[2019-07-23 07:47] #148 closed, assigned to nobody

[2019-07-23 07:49] #137 closed, assigned to nobody

[2019-07-26 07:04] aviabunin opened #149 "How to add some properties to GeometryProvider"
I use GeometryProvider for creating layer from some wkt-file. FeatureDataTable of GeometryProvider  is readOnly, and I can't to add columns.  But I have to set some properties for geometry items (road properties). Now I create Dictionary<int,int> to link id of FeatureDataRow and id of database row for this item , which contains this properties.
    How to achieve this  correctly ?

[2019-07-26 08:45] aviabunin commented on #149
I have found - GeometryFeatureProvider

[2019-08-01 06:48] bluedayzz opened #150 "Attribute data is not supported by the GeometryProvider."
Hello!!

![1](https://user-images.githubusercontent.com/3981160/62271193-fb7c2780-b472-11e9-826e-68c2a3683101.PNG)

I want to make a click event on the image("maker"). so I used the following sample code URL.
https://xaml.dev/post/2006/05/18/Using-NetTopologySuite-in-SharpMap

![2](https://user-images.githubusercontent.com/3981160/62271196-fc14be00-b472-11e9-8ce9-3fbd0c1b1a64.PNG)

but I face the

[2019-08-01 07:44] FObermaier commented on #150
Use `GeometryFeatureProvider`

[2019-08-06 04:46] #150 closed, assigned to nobody

[2019-08-20 17:37] MarcoGiorgi commented on #92
I'm having the same issues, and I'm using SharpMap in a web application only to read shapefiles (not to visualize them). Which is the best way to work around the dependency issue?

[2019-08-27 08:48] #149 closed, assigned to nobody

[2019-09-04 09:55] FObermaier opened #153 "Fix BruTile serialization"
With the change to BruTile v2.0 serialization code got broke.

[2019-09-09 12:25] #140 closed, assigned to nobody

[2019-09-09 12:26] #83 closed, assigned to nobody

[2019-09-09 12:50] terribletim commented on #132
Update:
1) The above info on `Microsoft.SqlServer.Types` has been superseded by PR #155 Please refer to [ReadMe.txt](https://github.com/SharpMap/SharpMap/tree/Branches/1.0/SharpMap.SqlServerSpatialObjects) for new info on required libraries to use SqlServer spatial types (ie geometry and geography).
2) NuGet package download still cropping up from time-to-time for different users, so this comment

[2019-09-16 15:32] Lotto2 opened #156 "WMS-Layer Https-Url, Error Could not download capabilities document from the server"
Hello,

i'm trying to load a WMS on the map. The URL is

https://www.wms.nrw.de/geobasis/wms_nw_dop

the error

"Error Could not download capabilities document from the server"

is returned.
It worked some time ago when the URL wasn't "Https" but "Http".

Any hints how to contact this WMS or where the problem ist?

[2019-09-17 13:42] Lotto2 commented on #156
Sorry, i forgot, here ist the code causing the error:

`Dim layWms As SharpMap.Layers.WmsLayer`
`layWms = New SharpMap.Layers.WmsLayer("DOP", "https://www.wms.nrw.de/geobasis/wms_nw_dop")`

[2019-09-17 14:52] Lotto2 commented on #156
The full error message (partly in german):

[2019-09-26 06:25] #143 closed, assigned to nobody

[2019-09-26 06:26] #144 closed, assigned to nobody

[2019-09-26 06:26] #147 closed, assigned to nobody

[2019-10-01 15:10] #146 closed, assigned to nobody

[2019-10-15 13:05] kdavelaar opened #157 "Upgrade to NTS 2.0"
Will NTS be upgraded to version 2.0 anytime soon?

[2019-10-16 10:24] Lotto2 commented on #156
I traced the error in the DemoWinForm. The error occures in

SharpMap.Web.Wms

Client.cs

...
public XmlDocument GetRemoteXml()
...
WebResponse myResponse = myRequest.GetResponse();

[2019-10-17 12:08] TimThaler opened #158 "Failing to create components in windows from"
After compiling SharpMap from the [latest commit](https://github.com/SharpMap/SharpMap/commit/763f2076efa7cb41ae089da775aca590fcb0f91e)
and referencing the ` SharpMap.UI.dll` from `...\SharpMap\SharpMap.UI\bin\Debug` in another solution tt is not possible to drag any SharpMap component into a Windows From.
If fails with:
[code]

However instantiating them directly in the Form is possible.
[code]

[2019-10-22 09:39] aviabunin opened #159 "How to add new tile source?"
How to replace a tile server  with such a tile query string
`http://server_IP/tiles2/zoom/x/y.png`
Thanks in advance!

[2019-10-22 11:38] aviabunin commented on #159
So, if I understand correctly, is it possible in the tile provider to replace the server address
for example "http://a.tile.openstreetmap.org" to my adress.

[2019-10-23 10:18] TimThaler commented on #158
I ll close this Issue, because i cannot reproduce it.
After following this steps while setting up another Project dragging controls into the form is working

[2019-10-23 10:18] #158 closed, assigned to nobody

[2019-10-23 11:41] aviabunin commented on #159
Did so:
 void testQT_tile_src()
{ ...
     ITileSource src = CreateQTTileSource();
     mapcontrol.mapBox1.Map.BackgroundLayer.Add(new TileAsyncLayer(src, "QT_src"));
    ...
   }
private static ITileSource CreateQTTileSource()
{
string urlFormatter = @"http://server_ip/tiles2/{z}/{x}/{y}.png";
return new HttpTileSource(new GlobalSphericalMercator(), urlFormatter, tileFetcher: FetchGoogleTile);
}

[2019-10-23 14:10] aviabunin commented on #159
All works!

[2019-10-28 11:44] TimThaler opened #160 "Transform Coordiantes"
Hi,
i want to display the the cooridnates of the cursor position in lat/long values. Right now i achive this this with the [SRIDReader](https://github.com/NetTopologySuite/ProjNet4GeoAPI/blob/develop/test/ProjNet.Tests/SRIDReader.cs) class.

[code]
It seems terribly cumbersome. But i did not manage to make it work with these transformation methods because of conversion errors.
[code]
When i use th

[2019-10-28 12:00] FObermaier commented on #160
When you rely on GeoAPI (v1.7.5), you can't use ProjNet v2. ProjNet v2 does no longer have a dependency on GeoAPI. You need to use ProjNet v1.4.x

[2019-10-28 12:02] FObermaier commented on #160
If the coordinate transformation is static, why don't you create it once and reuse it. Then the conversion is not cumbersome, all that remains is a call to `ct.Transform` and setting the label.

[2019-10-28 15:56] TimThaler commented on #160
I put all this code in the event handler for simplicity (bad idea). Ok ill try to downgrade and use the factories directly since there are some inacurrancies in the transformation

[2019-10-30 09:22] TimThaler commented on #160
Ok it everything worked when i switched to ProjNet 1.41
Thanks for the hint!

[2019-10-30 09:22] #160 closed, assigned to nobody

[2019-10-30 19:44] UbhiTS commented on #38
+1, can we please a net standard 2.0 supporting nuget package ?

[2019-11-05 09:27] rhuijben commented on #157
Yes, please?

[2019-11-05 15:58] PABLOCORRO opened #161 "Custom Theme, FilterDelegate and LabelPositionDelegate"
When functions are used, the parameters are passed ByVal, could they change to ByRef?
it would be unnecessary to send large objects ByVal

_'Example: Create label layer with custom style
Dim lay As New SharpMap.Layers.LabelLayer("example")
lay.DataSource = New SharpMap.Data.Providers.GeometryFeatureProvider(fdt)
lay.Theme= New SharpMap.Rendering.Thematics.CustomTheme(AddressOf **custom_style**)

P

[2019-11-07 19:49] aviabunin opened #162 "How to use MapBox online service as background in SharpMap"
Is it possible to use MapBox service as  a background?

[2019-11-10 08:07] terribletim commented on #161
The object isn't "sent", only a pointer to the object. Maybe these pages by Jon Skeet will help:
[Parameter passing in C#](https://jonskeet.uk/csharp/parameters.html)
[References and Values](https://jonskeet.uk/csharp/references.html)

[2019-11-11 16:06] FObermaier commented on #162
Yes, it is.
You neet to get the WMTS url for your MapBox style and use that to get the `GetCapabilities` document.
Feed that to the WmtsParser and pick your tile source from the result.

[2019-11-14 15:30] Lotto2 opened #163 "Solved #156, WMS-Layer HTTPS-Url"
Hello,

the error reported in #156 can be solved as shown below.

Problem: The inserted statement
ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;
needs .net 4.5.2 or higher.

SharpMap.Web.Wms, Client.cs, public XmlDocument GetRemoteXml()

Here is the code :
[code]

[2019-11-14 15:44] FObermaier commented on #163
Reading the documentation about [ServicePointManager.SecurityProtocol](https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepointmanager.securityprotocol?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev16.query%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(System.Net.ServicePointManager.SecurityProtocol);k(DevLang-csharp)%26rd%3Dtrue&view=netframework-4.8) I don't think that this is the wa

[2019-11-14 16:56] Lotto2 commented on #163
How?

[2019-11-14 16:57] FObermaier commented on #163
[code]

[2019-11-14 16:58] FObermaier commented on #163
You set `ServicePointManager.SecurityProtocol` in your application.

[2019-11-14 17:00] Lotto2 commented on #163
Going to try this ... tomorow;-)

[2019-11-15 08:01] FObermaier commented on #163
@Lotto2, maybe [this article](https://support.microsoft.com/en-us/help/3069494/cannot-connect-to-a-server-by-using-the-servicepointmanager-or-sslstre) might help, solve this issue, too.

[2019-11-15 08:35] #156 closed, assigned to nobody

[2019-11-15 08:36] FObermaier commented on #156
Follow up in #163

[2019-11-22 13:18] FObermaier commented on #163
@Lotto2 can we close this?

[2019-11-22 13:19] #161 closed, assigned to nobody

[2019-11-22 13:20] FObermaier commented on #162
@aviabunin can we close this?

[2019-11-22 13:21] #159 closed, assigned to nobody

[2019-11-22 13:23] FObermaier commented on #153
Fixed with e5d91f6d2a1c67923844ca5a5514d01bf17702f0

[2019-11-22 13:23] #153 closed, assigned to FObermaier

[2019-11-22 13:27] #127 closed, assigned to nobody

[2019-11-22 13:28] FObermaier commented on #124
SharpMap has no support of creating a Shapefile. Use GDAL/OGR to do that.

[2019-11-22 13:28] #124 closed, assigned to nobody

[2019-11-22 13:31] #119 closed, assigned to nobody

[2019-11-22 13:32] #110 closed, assigned to nobody

[2019-11-22 14:50] #3 closed, assigned to nobody

[2019-11-22 14:50] #7 closed, assigned to nobody

[2019-11-22 14:52] FObermaier commented on #26
SharpMap has no vertex editing functionality.

[2019-11-22 14:52] #26 closed, assigned to nobody

[2019-11-22 14:53] FObermaier commented on #27
Old

[2019-11-22 14:53] #27 closed, assigned to nobody

[2019-11-22 15:02] FObermaier commented on #35
If it works for some Shapefiles than those probably have a different spatial reference system.

[2019-11-22 15:02] #35 closed, assigned to nobody

[2019-11-22 15:03] FObermaier commented on #38
Fixed

[2019-11-22 15:03] #38 closed, assigned to nobody

[2019-11-22 15:04] FObermaier commented on #39
Need to investigate

[2019-11-22 15:07] FObermaier commented on #63
This is most likely a configuration issue on your production server.

[2019-11-22 15:07] #63 closed, assigned to nobody

[2019-11-22 15:07] FObermaier commented on #73
Not specific enough.

[2019-11-22 15:07] #73 closed, assigned to nobody

[2019-11-22 15:08] FObermaier commented on #75
It is being used in production.

[2019-11-22 15:08] #75 closed, assigned to nobody

[2019-11-22 15:10] FObermaier commented on #130
Not specific enough.

[2019-11-22 15:10] #130 closed, assigned to nobody

[2019-11-22 15:10] FObermaier commented on #118
Closing as duplicate of #135

[2019-11-22 15:10] #118 closed, assigned to nobody

[2019-11-22 15:12] #96 closed, assigned to FObermaier

[2019-11-22 15:12] #92 closed, assigned to nobody

[2019-11-22 15:15] #81 closed, assigned to nobody

[2019-11-25 09:12] FObermaier opened #164 "GdalRasterLayer output is wrong with MapTransform"
This was found when investigating #116

When applying a `System.Drawing.Drawing2d.Matrix` initialized with `RotateAt` to `Map.MapTransform`, the output is wrong. It is both forged and displaced:

No Rotation:
![TestIssue116 0deg](https://user-images.githubusercontent.com/2065346/69527047-c046bc80-0f6b-11ea-933f-73b0b11bf1aa.png)

-45deg Rotation:
![TestIssue116 -45deg](https://user-images.githubus

[2019-11-25 09:14] FObermaier commented on #116
I cannot reproduce your issue as stated, it might have been solved. Nonetheless, the result with an applied rotation matrix is not correct. (see #164)

[2019-11-25 09:14] #116 closed, assigned to nobody

[2019-11-25 11:00] #84 closed, assigned to FObermaier

[2019-11-25 11:23] FObermaier commented on #86
@am2222, thanks for the hint.
I chose to fix it by creating a new `ImageAttributes` class for rendering when `Opacity` < 1.
Please see b80fbd589de453b771e0c6b8fcc30c838159ad66

[2019-11-25 11:23] #86 closed, assigned to FObermaier

[2019-11-25 11:25] #79 closed, assigned to nobody

[2019-11-25 12:32] FObermaier commented on #78
You are attempting to read a geometry where you should read a feature:

[code]

[2019-11-25 12:32] #78 closed, assigned to FObermaier

[2019-11-26 07:15] #136 closed, assigned to FObermaier

[2019-11-26 08:45] FObermaier commented on #61
The observation that, when changing a geometries coordinate data, you have to call `geometry.GeometryChanged()` in order to update the geometries envelope, is correct.

[2019-11-26 08:46] #61 closed, assigned to nobody

[2019-11-27 16:05] FObermaier commented on #39
As far as I can tell, this is fixed with f178d6572412cd5dba340a0cf6fa10d0f1da435e

[2019-11-27 16:05] #39 closed, assigned to FObermaier

[2019-11-27 16:05] #163 closed, assigned to nobody

[2019-11-27 16:06] FObermaier commented on #52
Fixed with f178d6572412cd5dba340a0cf6fa10d0f1da435e

[2019-11-27 16:06] #52 closed, assigned to nobody

[2019-11-27 16:07] FObermaier commented on #33
As we have updated GDAL to some decent version I'd assume this works now.
I am lacking a sample file.

[2019-11-29 18:09] PachisPachis commented on #39
Thanks, I will let you know how it works when updating the component in the
application

El mié., 27 nov. 2019 a las 17:05, Felix Obermaier (<
notifications@github.com>) escribió:

[2019-12-03 03:08] PABLOCORRO opened #166 "Problem with TileAsyncLayer"
Hello!
I work a map with a Bing Maps TileAsyncLayer. When I zoomed, the background entirely painted with the map background color and stays that way while the images are downloaded. This looks like a very long blink. Would it be possible to paint this background only when painting the downloaded image?

Thank's
(Excuse me, i am speak spanish)

[2019-12-03 09:16] FObermaier commented on #166
You need to add `TileAsyncLayer`s to the map's `map.Background` layer collection. `TileAsyncLayer`'s `OnlyRedrawWhenComplete` needs to be set to `false`.

[2019-12-03 15:14] PABLOCORRO commented on #166
Just as you say, I had done so:

_Dim t = New SharpMap.Layers.TileAsyncLayer(BruTile.Predefined.KnownTileSources.Create(BruTile.Predefined.KnownTileSource.BingAerial), "example")
t.OnlyRedrawWhenComplete = False
Mapbox1.BackColor=Color.Black
Mapbox1.Map.BackgroundLayer.Add(t)_

When the internet speed is very fast this is almost no problem, but otherwise it looks like this while downloading images

[2019-12-04 07:31] FObermaier commented on #166
If the problem "only" exists when the internet connection is slow then there is little we can do about it.
Are you compiling the component yourself or do you use (very old) nuget packages?

[2019-12-10 01:22] PABLOCORRO commented on #166
The problem exists even with fast connection, but less is perceived. I have compiled the most recent version with Visual Studio 2019 successfully.

It is not a bug, it is only a suggestion to improve visualization. For this, I think that for TileAsyncLayer, we should look for ways to paint the background color for each tile size area, and not all the control. This update (background color + tile),

[2019-12-19 12:53] FObermaier commented on #77
According to the result of [UnitTests.Layers.LabelLayerTest](https://github.com/SharpMap/SharpMap/blob/Branches/1.0/UnitTests/Layers/LabelLayerTest.cs) this should be possible:
![MultiLineCenterAligned](https://user-images.githubusercontent.com/2065346/71174844-6ed9d680-2266-11ea-8c23-20c6fb83b045.png)

Forcing a new line break is done with `\n`.
https://github.com/SharpMap/SharpMap/blob/b89c4fb4f

[2019-12-19 12:53] #77 closed, assigned to nobody

[2019-12-19 13:27] #162 closed, assigned to nobody

[2019-12-23 07:15] #30 closed, assigned to becio

[2019-12-30 13:56] #164 closed, assigned to FObermaier

[2020-01-06 21:18] Rakiah opened #169 "Unity plugin support"
Hello,

Is there any kind of support for Unity3d?

[2020-01-08 10:04] FObermaier commented on #169
There are no components specifically for  Unity3D in this project, if that is what you mean.

[2020-01-08 19:17] Rakiah commented on #169
Yes that was kind of my question, just wondering if there is any documentation somewhere apart from the sample code ? Otherwise do you know how hard would it be to connect with a Unity renderer ? Basically if SharpMap could provide a way to output raw RGB directly from vector definitions that wouldnt be too hard to implement a unity plugin

[2020-01-08 20:01] FObermaier commented on #169
There is a [SharpDX layer](https://github.com/SharpMap/SharpMap/tree/Branches/1.0/SharpMap.Layers.SharpDX), is that kind of what you are looking for?

[2020-01-13 10:22] Lotto2 opened #170 "TileAsyncLayer, "OpenStreetMap", Remoteserver Error"
Hello,

lately tiles "...remoteserver...error..." are shown when opening OpenStreetMap as background layer.

Have i missed something?

Code:

[code]

[2020-01-13 19:04] andrewyar commented on #170
I have the same problem. Error 429 'Too Many Requests'.

[code]

[2020-01-13 19:46] DwewOlden commented on #170
I did some reading on this issue over the weekend. The issue itself can be solved (reportedly) by setting a different user agent in the the brutile request headers. I have not yet done any reading about how that translates to the brutile project.

Andrew

Sent from my iPad

[2020-01-16 00:58] kinsung opened #171 "Is Sharpmap available for Linux"
Is Sharpmap available for Linux? How do I compile and use it on Linux? Are there any examples?

[2020-01-16 08:33] FObermaier commented on #171
There is no release especially for linux but the core components should run. Some time ago, I tested SharpMap and SharpMap.UI successfully. There is a (probably outdated) example called [GtkFormSamples](https://github.com/SharpMap/SharpMap/tree/Branches/1.0/Examples/GtkFormSamples).

You can build parts of the main solution on linux using the "ReleaseLinux" configuration.

[2020-01-19 08:47] kinsung commented on #171
Thanks！I got it.

[2020-01-20 10:18] #171 closed, assigned to nobody

[2020-01-20 11:49] Lotto2 commented on #170
@DwewOlden

Hello Andrew,

any details known about which agent to place in the header and where did you find these hints?

Greetz
Lothar

[2020-01-20 21:00] DwewOlden commented on #170
This is a general one where they highlight why it’s happening (brutile)

https://github.com/openstreetmap/Nominatim/issues/466

And this is for osm brutile:
https://github.com/BruTile/BruTile/issues/103
https://github.com/Mapsui/Mapsui/issues/668

Sent from my iPad

[2020-01-20 23:38] PABLOCORRO opened #172 "WMS PSAD56 over Bing Maps"
Hi everyone!

### The following code works:
MapBox1.Map.SRID = 3785
_'Bing Maps (WGS84)_
Dim tile As New SharpMap.Layers.TileAsyncLayer(BruTile.Predefined.KnownTileSources.Create(BruTile.Predefined.KnownTileSource.BingAerial), "test")
tile.SRID = 3785
MapBox1.Map.BackgroundLayer.Add(tile)

_'WMS (WGS84)_
Dim wms As SharpMap.Layers.WmsLayer
wms = New SharpMap.Layers.WmsLayer("wms01", "  *** demostr

[2020-01-21 07:17] FObermaier commented on #172
SharpMap does not reproject raster/image data. If you have a `Tile[Async]Layer` with a SRID of 3857, your WMS Layer should have the same spatial reference in order to match.

[2020-01-21 10:34] FObermaier commented on #170
To avoid the `Error 429, Too many requests` a strategy of using a persistent cache and providing a user-agent should help resolve the issue. (_Beware, the code has not seen a compiler_)
[code]

[2020-01-21 14:55] PABLOCORRO commented on #172
The WMS of my interest supports srid 4326:
![image](https://user-images.githubusercontent.com/42850661/72814680-76104d80-3c33-11ea-8494-747df580fffb.png)

Then I try to set it in Sharpmap with:     wms.SRID = 4326
But it doesn't work either. Could it be that in the future Sharpmap can reproject raster/image data?

[2020-01-21 16:57] Lotto2 commented on #170
@FObermaier
Hi Felix, your solution has to see a compiler in the BruTile-project before it can find its way into SharpMap?-)

[2020-01-21 18:48] FObermaier commented on #170
I tried, it works with the current code in this repository.
Pre-Release packages can be [downloaded here](https://github.com/SharpMap/SharpMap/suites/413978617/artifacts/1270516)

[2020-01-22 16:09] TimThaler opened #173 "Overlaying two WMTS layers"
Hey everyone,
i was displaying a DOP map from a WMTS server serving raster-tiles with the 3857 SRS.
To do so a TileAsyncLayer was added to the Map. This was (is) working perfect.

Now it would be nice to add an overlay  showing the streets to this map.
To have the streets ontop of the map i changed it to a syncronous layer.

The problem is now that it takes very long to load for the first time whe

[2020-01-22 23:32] PABLOCORRO commented on #173
Hi TimThaler
Have you written code for the paint event?

[2020-01-23 10:45] TimThaler commented on #173
Hello.
No i just discovered this event - in this context - now. It seems there are X-Y location information from the tiles to be rendered available, but not for which layer.
I could think of  something like: waiting  until a certain DOP tile has been rendered and then render the corresponding overlay tile. If the overlay arrvies erlier, cache it until the DOP tile has been delivered and rendered.

[2020-01-23 12:16] FObermaier commented on #173
@TimThaler, are you using latest released nuget packages or did you compile the solution yourself?
If you do the later, try setting the `MapBox.MapImageGeneratorFunction` to `MapBox.LayerListImageGenerator`.

`LayerListImageGenerator` is currently being worked on so you might experience other issues, but I hope this specific issue is addressed.

[2020-01-23 15:23] TimThaler commented on #173
Hello @FObermaier,
yes, we are using the - 2 weeks old - compiled solution.
I set the `MapBox.MapImageGeneratorFunction` as you suggested and it is working just fine. At certain Zoom level the overlay tiles arrive too early and then get overwritten by the  DOP tiles
but it works perfect!

[2020-01-24 12:07] TimThaler commented on #173
@FObermaier maybe i did not check yesterday carefully enough, but with
[code]

when  new tiles have to be collected the overlays are swallowed each time by the DOP images.
Only then within scrolling of the zoom level the layers are in the right order.

When setting `layerMap .OnlyRedrawWhenComplete = true;` the layers get in the correct order but we then have to wait some time until the map is com

[2020-01-24 12:18] FObermaier commented on #173
Please try adding all layers to `map.Layers` and don't use `map.BackgroundLayer`

[2020-01-24 12:30] TimThaler commented on #173
That is it. As you mentionend there are some other things happening, but the layers are rendered in the correct order

[2020-01-24 12:30] #173 closed, assigned to nobody

[2020-01-24 12:57] FObermaier commented on #173
@TimThaler, please let us know where we can improve `LayerListImageGenerator`. A known limitation is that the area to be updated is not correct, especially when using puntal data along with variable layers.

[2020-01-24 15:07] Lotto2 commented on #170
Hi Felix, your pre-release, the latest Brutile-packages (2.1.2) and providing the user-agent worked. Will there be SharpMap 2.1 soon?

[2020-01-24 15:07] #170 closed, assigned to nobody

[2020-01-24 20:32] NeptuneTheMystic opened #174 "Custom tool painting / Windows Forms"
I have a Windows Forms application with a custom tool.  While the tool is active, it needs to paint graphics in the map when the mouse is moved.  I have code present in the DoPaint() method of the custom tool, however it does not get called on mouse movement because SharpMap.UI\Forms\MapBox.cs OnMouseMove() won't invalidate the client rectangle if a custom tool is selected.

Unless I'm misundersta

[2020-01-26 09:11] terribletim opened #175 "LabelLayer TextOnPath incorrect when MapTransform != identity"
Noted a problem with `LabelLayer` when map is rotated whilst working on separate updates.

This issue only applies to linear geometry when `TextOnPath = true`. For example, with no rotation the label correctly plots along the line, and the envelope shows rectilinear extents of the feature:
![LabelLayer_TextOnPath_000](https://user-images.githubusercontent.com/17949545/73133011-c4847880-4087-11ea-9

[2020-01-27 17:13] PABLOCORRO opened #176 "Parameter SLD_BODY (inline styling)"
Hi everyone

How to send the SLD XML to the WMS server using SLD_BODY in a wms layer of Sharpmap?

Thanks!

[2020-01-28 13:08] FObermaier commented on #176
This is currently not supported. But it doesn't look too hard. Could you provide a sample containing the server you want to query, the layers and the sld_body?

[2020-01-29 09:13] FObermaier commented on #176
It is not covered by the spec, is there some resource you can point to @PABLOCORRO?

Never mind, found it:
[Styled Layer Descriptor profile of the Web Map Service Implementation Specification `OGC 05-078r4`](http://portal.opengeospatial.org/files/?artifact_id=22364)

[2020-01-29 11:44] FObermaier commented on #174
I'd create a transparent control that is managed by your custom tool and make sure it always has the same size and location as the `MapControl`. Then perform all custom tool rendering on that form.

[2020-01-29 16:26] PABLOCORRO commented on #176
**The server**:
http://mtcgeo2.mtc.gob.pe:8080/geoserver/MTC_gis/puente/wms?SERVICE=WMS&VERSION=1.1.0&SRS=EPSG:4326&REQUEST=GetMap&LAYERS=puente&BBOX=-77.1539164321276,-12.0172990118694,-77.0088156109604,-11.9101935558073&WIDTH=1152&HEIGHT=768&FORMAT=image/png&TRANSPARENT=TRUE&STYLES=

**With SLD_BODY:  (I don't know how to make it work)**
http://mtcgeo2.mtc.gob.pe:8080/geoserver/MTC_gis/puente/wm

[2020-02-03 12:37] frankhommers opened #177 "WFS 2.0 support"
Question: Will the WFS Client support WFS 2.0 any time soon?

[2020-02-03 14:36] masoodnaqvi1966 commented on #83
I have Shapefile imported in SQL Server 2014. How to use Sql Server 2014? I tried to to SqlServer2008 it is showing geometry but raising error for Columns

[2020-02-03 16:05] TimThaler commented on #173
@FObermaier, right now i am working on smth else, but i ll get back to this as soon as i have some time.

[2020-02-04 08:21] terribletim commented on #83
Updates for #120 and #126 are not yet available in NuGet package. You will need to clone repository. Don't forget to manually restore NuGet packages prior to compile (several people have had issues with packages not updating automatically). The updates include fully worked examples for both geometry and geography (see also info in links immediately above). Hope that helps.

[2020-02-20 08:10] jack-gaojz-zz opened #178 "The "NewtonSoft.Json" version too old caused other plugin cannot compatibility."
Because the "SharpMap" used the "NewtonSoft.Json" 4.5.11 and caused my project cannot use many plugins which dependent on the higher version "NewtonSoft.Json".
Could you please upgrade the "NewtonSoft.Json" version, or we can use "NewtonSoft.Json" 4.5.11+.
![image](https://user-images.githubusercontent.com/40879710/74913401-83b81f00-53fb-11ea-82a9-3931efb4ff29.png)
Thanks so much.

[2020-02-20 08:16] FObermaier commented on #178
We are working hard on a new release. Please stay tuned.

[2020-02-20 13:04] jack-gaojz-zz commented on #178
Aswesome! Thanks so much. :)

[2020-02-24 08:49] ALVIS-Software commented on #157
Hello,
I have done the switch to NTS 2.0 and also to ProjNet 2.0 and plan to submit a pull request once it is completely finished.

There are 2 issues remaining:

1. The library SharpSbn still depends on GeoAPI 1.x. The code looks small enough to switch it to NTS 2.0 easily. A nuget package will be required
2. The project "SharpMap.CoordinateSystems.DotSpatial" I have not changed yet. When all cod

[2020-03-10 13:53] Samoustique commented on #178
+1, thanks for working on it!
Would you have an idea about an estimate of time, by any chance?

[2020-03-23 03:54] z954134 opened #179 "How to compile in vs2017?"
How to compile in vs2017?cannot restore packages\GeoAPI.1.7.5   NetTopologySuite.1.15.3

[2020-03-26 10:45] lennycolton opened #180 "Loop at Antimeridian"
I have a C#.NET WinForms project which displays OSM as a background layer (using BruTile). Is it possible, through SharpMap or BruTile, to wrap my tiles around the antimeridian, so that the map displayed is continuous?

[2020-03-29 08:58] terribletim commented on #175
Resolved as part of #181 where `TextOnPath` algorithm is replaced by new algorithm courtesy of @FObermaier using NTS `LengthIndexedLine `

[2020-03-29 08:58] #175 closed, assigned to nobody

[2020-03-29 12:54] FObermaier commented on #180
Sorry, this is currently not supported.

[2020-03-29 12:56] FObermaier commented on #179
If you are not able to restore packages you have some problem on your side of things.
The CI build servers are able to pick up these packages.

[2020-04-15 20:38] gcapnias commented on #179
Hi,

I think @z954134 is right - in SharpMap.Common.props there is a < PackageReference > entry for "Microsoft.SourceLink.GitHub".

This entry does not allow some v4.7.2 projects restore packages from packages.config file. In result projects are not compiling. Projects "SharpMap.Extensions" & "UnitTests" do not build.

If packages are already exist under packages folder, there no way to regenerate

[2020-04-16 05:55] FObermaier commented on #179
Agreed, you need to call
[code]

prior to compiling via msbuild or VisualStudio.

[2020-04-20 09:30] gcapnias commented on #179
Hi,
@FObermaier: Do you believe would it be a good idea to convert all NuGet references (packages.config) to PackageReferences in project files?

I think, I could create a pull request with these changes.

[2020-05-18 08:48] TimThaler opened #182 "How to apply map rotation to Wpf Map"
Hey,

to apply a rotation in a WinForms Map i basically use this code:
[code]

As far as i see the SharpMapHost class is not publishing the mapTransformRotate or maptransform properties of its _mapBox.Map property.
Am i missing something or is there another way to apply a rotation on a Wpf Map?

Cheers
Tim

[2020-05-18 11:41] shawty opened #183 "Sharpmap for Winforms UI crashes at program start"
Beacuse the NuGet for SharpMap is out of date, I'm building from source.  I've cloned this repo, built and added references to the projects to my WinForms app, but every time I run it, I get this:

![image](https://user-images.githubusercontent.com/1876454/82208713-ec803c00-9903-11ea-9479-c013e742567a.png)

![image](https://user-images.githubusercontent.com/1876454/82208779-09b50a80-9904-11ea-82e6

[2020-05-18 12:05] FObermaier commented on #183
You need to add the following code to the startup of your application:
[code]
You may have to reference nuget packages ProjNet4GeoAPI v1.4.1 and NetTopologySuite v1.15.3.
You *must not* use NetTopologySuite v2.0

[2020-05-18 13:23] shawty commented on #183
Hi,

I've downgraded my package versions back to the older version of NetTopologySuite.

The reason I was building from source is because SharpMap's WMS layer doesn't obey the maximum title size sent to it by the WMS servers capability document.

The server I'm using has a max size of 512x512 and I cannot change it.

When I build from source I can do a custom build and force the size on the URL, b

[2020-05-18 13:40] FObermaier commented on #183
How about a sharing your fix for this so we can include it?

There must be a way to prevent that, it doesn't do it on my machine or on the build services. Tell us about your environment.

[2020-05-18 15:22] Lotto2 opened #184 "ArcGIS Mapserver"
Hello,

with QGis i can load a layer from the URL

https://webgate.ec.europa.eu/getis/rest/services/Energy/2016_PCI_oil/MapServer

for example layer '3'.

QGis classifies the URL as a ArcGIS Mapserver.

Is there any chance to load this as a layer under SharpMap?

[2020-05-18 15:24] shawty commented on #183
I would share a fix, but the idea I had didn't really work the way I hoped it would :-)

I realized after I'd forced the size on the URL that it still only drew one tile, but at that size.  The WMS tile layer in SharpMap loads and renders a WMS server view easily, but it doesn't break it up into tiles, it always just requests one image of the entire area, typically the size of the map control on t

[2020-05-19 06:17] FObermaier commented on #183
Using [BruTile](https://github.com/brutile/brutile), SharpMap can display tiled map services (TMS/WMS-C/WMTS). Can you share the source you are trying to display?
If not, have a look at BruTile to see how to set up your tile source and feed that into the `SharpMap.Layers.Tile[Async]Layer` of the `SharpMap.Layers.BruTile` package.

[2020-05-19 10:05] shawty commented on #183
I can't share the source I'm afraid it's behind a firewall, only a web ui exists to see it outside the lan.  I might be able to get you a copy of the Capabilities XML doc if it's any help though.

What I can tell you though is it's a WMS V1.1.1 compliant endpoint using "mapserver" for linux and a mapfile delivered via an Apache2 webservice.

It Uses GetCapabilities and GetMap to fetch the map info

[2020-05-19 11:25] FObermaier commented on #183
The capabilities document will help.

[2020-05-19 11:40] shawty commented on #183
Here you go :-)

I had to add ".txt" on the end so github would let me upload it.

[capabilities.xml.txt](https://github.com/SharpMap/SharpMap/files/4650076/capabilities.xml.txt)

[2020-05-19 14:34] FObermaier commented on #183
This looks like plain WMS to me, no tiling information here.
Could you post the result of the following request, too?
`http://gis.digital-solutions.local/wms/oldmaps/consetttownplan?service=WMS&version=1.3.0&request=GetSchemaExtension`

[2020-05-19 15:10] shawty commented on #183
Here you go:

![image](https://user-images.githubusercontent.com/1876454/82343487-d4371c80-99ea-11ea-8edc-dba46005f9b5.png)

(Image was easier this time) - Didn't return much.

I'm currently playing around with Sharpmap/Brutile trying to get BruTile to do WMS.

Been looking at a few things such as:

https://gis.stackexchange.com/questions/183904/is-there-a-way-to-use-wms-like-a-tiled-map-service-i

[2020-05-19 16:37] shawty commented on #183
@FObermaier - You might be onto something with the Vendor Capabilities idea....

![image](https://user-images.githubusercontent.com/1876454/82353186-fc2c7d00-99f6-11ea-8295-e9ae00cb281d.png)

I was getting a crash in BruTile, couldn't figure out what it was, but I suspected it was looking for something in the caps that wasn't present, so I cloned BruTile in Debug mode (SO I could step into it with

[2020-05-19 20:53] shawty opened #185 "Sharpmap with it's OLD version of BruTile is unable to load WMS capabilities doc"
The current version of sharpmap is stuck with using version 0.7.4.4 of BruTile.

While trying to find a way of getting this old version to correctly parse an old style WMS (Not WMTS) server, I encountered a point in BruTile that throws a Null Reference exception while being used.

The file in question is WmsCapabilities.cs, specifically line 61:

![image](https://user-images.githubusercontent.com/

[2020-05-19 21:43] shawty commented on #185
Making the following change to "BruTile\Web\Wms\WmsCapabilities.cs" in a cloned version of the 0.7.4.4 branch of BruTile:

![image](https://user-images.githubusercontent.com/1876454/82381419-1596ee80-9a22-11ea-92b4-42d20eacd66a.png)

Will fix this issue and allow the BruTile version that SharpMap uses to parse the Capabilities Document correctly.

[2020-05-20 09:41] FObermaier commented on #183
I gave tiling within `WmsLayer` base in Max[Width|Height] a chance. Can you check if it works for you?
[WmsLayer.zip](https://github.com/SharpMap/SharpMap/files/4655928/WmsLayer.zip)

Note, it is based on the current code in the repository.

[2020-05-20 09:43] FObermaier commented on #183
Another idea is to wrap the `WmsLayer` in a `AsyncLayerProxyLayer` and set its tile size to 512x512.

[2020-05-20 09:46] FObermaier commented on #185
NuGet for the current -pre-Release- SharpMap version are here:
https://github.com/SharpMap/SharpMap/suites/552575071/artifacts/3483712

[2020-05-20 10:30] shawty commented on #183
Ha ha... you beat me to it :-)

I sort of got it working myself really late last night.

Let me test yours, see what happens.

Does this mean I'll need to build sharp map from a clone then I guess?

I'll test your idea, compare them to mine, and see what we come up with.

I actually did it by writing a tilesource/tile provider for brutile, but instead of using new brutile, I pulled the sources for

[2020-05-20 10:33] shawty commented on #185
I'm assuming that uses the newer version of BruTile?  :-)

[2020-05-20 11:27] shawty commented on #183
Ok, so interestingly ... where back right where this fault report started now :-)

I've cloned the current SharpMap repo, so that I am able to incorporate your changes to the WmsLayer.cs file, and I get hit by an initialization error when trying to use the MapBox control in sharpmap:

![image](https://user-images.githubusercontent.com/1876454/82440770-c9d15d00-9a94-11ea-9520-04924ff1d527.png)

As

[2020-05-20 11:36] FObermaier commented on #183
Do you use some other component that references NTS v2.0?
Check _Manage NuGet Packages for solution_ and look for inconcistencies.

[2020-05-20 11:38] shawty commented on #183
Just Checked that @FObermaier there's no mention of it anywhere, This was similar to the first problem I had with SharpMap, and when I modified my local sharp map build to NOT use GeoAPI, and removed the references from some of the SM files, it started to work correctly.

This doesn't seem to happen with the version on NuGet, only with a build from a clone of the current Repo

As you can see, I ha

[2020-05-20 11:55] FObermaier commented on #183
1. Please close the solution, clear __all__ your `obj` and `bin` folders in the source tree of your solution. There should be a `Clean.bat`.
2. From a developer console call
    * `nuget restore SharpMap.Extensions/packages.config -o packages`
    * `nuget restore SharpMap.SqlServerSpatialObjects/packages.config -OutputDirectory packages`
3. Open the solution and retry.

[2020-05-20 12:25] shawty commented on #183
OK, I've tried all that, still makes no difference, I've completely cleaned my project too:

![image](https://user-images.githubusercontent.com/1876454/82445186-487dc880-9a9c-11ea-8f8a-7e9fbc24b5bd.png)

For reference these are the packages Sharpmap is restoring to:

![image](https://user-images.githubusercontent.com/1876454/82445271-69461e00-9a9c-11ea-9508-721e16de74b1.png)

![image](https://user

[2020-05-20 15:06] shawty commented on #183
Had to take a break from this and go work on another project, when I got back to it, I tried your Replacement WMS Layer from the zip above.  It seems to compile and I can see it making requests to the WMS that appear to be valid, but GeoAPI is still causing problems in the local build of SharpMap, I'm now getting an exception stating that GeoAPI wants both versions of NetTopology Suite simultaneou

[2020-05-28 09:54] Lotto2 commented on #185
When will -pre-Release- be -Release-?

[2020-05-28 10:54] shawty commented on #185
@Lotto2 I can't answer that I'm afraid, but the problems I encountered with the current release trying to lod both 1.x.x.x and 2.0.0.0 of either GeoApi or Brutile are still present when I try the pre-release in the zip above, so right now I'm still stuck trying to figure out if this is something to do with my system or something still in sharpmap.

[2020-05-28 13:02] TimThaler opened #186 "Overlaying WMTS Layer in ETRS89 (SRID 25832) onto Layer in WGS84 (SRID 3857)"
The underlying geographic coordinate systems of these two layers differ with each using a different CRS, ellipsoid and datum. They also use a different projection function.
I managed to overlay them using qgis, so i am confident it is possible.
(although the towgs params is full of zeros, with i do not fully understand)
To make it work in SharpMap i tried the following:
(The wkt comes from [epsg.i

[2020-05-28 13:16] FObermaier commented on #186
SharpMap *does not* perform any reprojection of tiles received through BruTile.
Or did I misunderstand what you are trying to do?

[2020-05-28 14:57] TimThaler commented on #186
Yes i want to reproject the tiles. Ok then i ll try to use brutile directly, thanks!

[2020-05-28 15:43] Lotto2 commented on #185
@Shawty Success!

@FObermaier: Don't want to press (;-) but what about -Release-? I'm still stuck with OSM-error caused by BruTile and did not succeed fixing it in version 0.7.4... me is not a pro like shawty, i fear.

[2020-05-28 15:55] shawty commented on #185
@Lotto2 You got it working?  How?

:-)

[2020-05-28 18:54] FObermaier commented on #185
@Shawty could you share the solution and csproj files of your application?

[2020-05-28 18:59] shawty commented on #185
Not as it stands, but let me see if I can do a mock up that uses the same things, without the client specific stuff, might take me a day or two.

[2020-05-29 07:15] Lotto2 commented on #185
@shawty: I am NOT the pro. Felix solved it. Look here:

https://github.com/SharpMap/SharpMap/issues/170

[2020-05-29 11:45] shawty commented on #185
Ah ok, yea I saw that one previously, but that's an Open Street map specific error that came about when they changed things to try and prevent abusive behavior on the OSM Tile server.

I was reading the full blog post about it on the OSM site a week or two ago.

My issue is not the same :-)   My issue is for some reason either BruTile or Sharpmap  (I don't know which) is trying to load 2 different

[2020-05-29 11:46] shawty commented on #185
@FObermaier I'll have a minimum viable project that reproduces the issue up on my github at some point over the weekend. :-)

[2020-06-02 12:42] TimThaler commented on #186
As of now, Brutile is not transforming tiles received from WMTS  #https://github.com/BruTile/BruTile/issues/117

[2020-06-02 12:42] #186 closed, assigned to nobody

[2020-06-17 19:25] MarcoGiorgi commented on #183
I have the same issue: creating a console application .Net 4.7.2, adding using Nuget SharpMap 1.1.0, then I just add these two lines of code:

`
 var ds = new SharpMap.Data.Providers.ShapeFile(filePath);
var lay = new SharpMap.Layers.VectorLayer(System.IO.Path.GetFileNameWithoutExtension(filePath), ds);
`

I get the error on the first line "**cannot use geometryserviceprovider without an assigned

[2020-06-30 13:38] nenadvicentic opened #187 "Extend `ShapeFile` constructor to accept `byte[]` arrays in addition to file path."
There are a lot of use-cases where we operate with streams or byte arrays, instead of files written on the disk. For example web server, loading data from different data source, etc... So constructor overload on the `ShapeFile` which accepts byte arrays would be very useful.

It could look something like:

[code]

[2020-07-03 05:36] hol430 opened #188 "Invalid Shapefile version"
Hi, I've just tried to create a sample app which starts by reading in a shapefile. I have a shapefile which I think I downloaded from a matplotlib tutorial somewhere but when I try to open it using this library I get the below error. I notice that this exception is triggered when the version (bytes 28-31) are not equal to 1000 (0x03e8), but in my file I have 0xe803. Is this a bug, or do I just hav

[2020-07-12 16:25] gcapnias opened #189 "Place label in center of visible part of feature"
Hi,

I need to place a layer's label in the visible part of the feature, each time the bounding box changes.

I am aware of layer.LabelPositionDelegate(); I am not sure how I should use it with a multi-polygon layer, in order to display a label in the visible part of each feature...

Thanks,
George J.

[2020-07-14 21:29] canitez opened #190 "Wms with credential, maps isnt visible"
Hi,
Im using wms service with sharpmap. And wms service has credentials.As in the examples, I integrated my wms service. The map can only be displayed in certain coordinates. (36-42).I cannot view the map at the moment with the codes I wrote.I don't get an error, so I can't find where the problem is. First of all, is there any data in areas that I cannot see somewhere on the map? Can I see the dat

[2020-07-15 09:40] PABLOCORRO commented on #190
Hello!
Try using:
layWms.ForceOnlineResourceUrl(wmsUrl + "&username=xxx")
it worked for me!

[2020-07-16 11:04] canitez commented on #190
thanks for your reply Pablocorro. I added the code you specified. I am seeing this error right now.
![image](https://user-images.githubusercontent.com/8152086/87664009-3b641980-c76d-11ea-94a3-a1beef3989dc.png)

[2020-07-30 05:26] markgapaz opened #191 "Sharp map in vb.net winforms not c#"
hi can u translate all of this in vb.net or do u have existing please share me thanks alot.

[2020-07-30 06:04] PABLOCORRO commented on #191
Hello!
I work with Sharpmap and Visual Basic in Windows Forms, but I recommend using WPF.
I recommend that you learn the basics of C # in order to understand the examples.

[2020-07-30 07:17] markgapaz commented on #191
-->Thank u sir for your kindnest but I don’t have time to learn c# I just want to do simple things in .net for our office can u just give me simple codes or methods on some sample coding on sharpmap to vb.net sir or u just do c# sir? 

[2020-07-30 07:30] PABLOCORRO commented on #191
I don't program in C # either. You don't need C # to program in VB .NET and Sharpmap, but you do need to learn some C # stuff just to understand the examples, which is just what you want.

[2020-07-30 07:36] markgapaz commented on #191
ok sir thanks alot if u dont have sample in vb.net and sharpmap

[2020-07-30 08:36] PABLOCORRO commented on #191
All the examples are in C# but you can convert it to visual basic .net with some tool like
https://converter.telerik.com/

[2020-07-30 13:09] Lotto2 opened #192 "Can't compile sources 27.03.2020"
Hi,

just downloaded Branches/1.0 and tried to compile them with VS 2019. Compiling SharpMap.SqlServerSpatialObjects / SharpMap.Extensions throws an error

...\SharpMap-Branches-1.0\SharpMap.SqlServerSpatialObjects\SqlServerTypes\Loader.cs" not found

Directory SqlServerTypes does not exist in this path. Missing?

I heard rumors of a version SharpMap V1.2. Where are the sources to be found?

Greet

[2020-07-30 13:23] FObermaier commented on #192
Open console in the root folder of your SharpMap repository and invoke the following commands:
[code]

Then you should be all set to open the solution and build it.

[2020-08-03 11:25] Lotto2 commented on #192
Hi Felix,

1) nuget restore SharpMap.Extensions/packages.config -OutputDirectory packages
2) nuget restore SharpMap.SqlServerSpatialObjects/packages.config -OutputDirectory packages

After i downloaded nuget.exe from https://www.nuget.org/downloads, v5.6.0, and placed it in the root of my repository the commands 1) and 2) worked.

3) msbuild SharpMap.targets /t:Version

"Der Befehl "msbuild" ist e

[2020-08-03 11:34] FObermaier commented on #192
You need to start a developer console, one that gets installed with Visual Studio.
![grafik](https://user-images.githubusercontent.com/2065346/89178493-02f67500-d58e-11ea-8524-8c91a7fcc143.png)

[2020-08-19 02:07] kinsung opened #193 "Does SharpMap support Avalonia？"
Does SharpMap support Avalonia UI library？
https://github.com/AvaloniaUI/Avalonia

[2020-10-01 02:02] hol430 commented on #188
Closing as user error ( I think it ended up being a typo in the name of the .shx file).

[2020-10-01 02:02] #188 closed, assigned to nobody

[2020-10-13 09:35] Marisakis opened #196 "Importing SharpMap into Unity"
Hey there,

I'm trying to find the most practical way of connecting to a Geoserver in Unity. For that I've tried to import SharpMap into the Unity editor as a DLL, but I'm running into dependency problems.
As dependencies I'd need the GeoAPI, Common.Logging and NetTopologySuite. But these, as far as I can tell, are all made for the Windows platform, requiring additional dependencies such as System

[2020-10-15 16:00] PABLOCORRO commented on #172
Hi everyone
The problem that I observed is that the image was displaced several meters. I fixed this problem by changing the srid to 102100, according to getcapabilities this srid is not supported, but it really works:

wms.SRID = 102100
Thank you

[2020-10-15 16:00] #172 closed, assigned to nobody

[2020-10-15 17:41] PABLOCORRO opened #197 "BGCOLOR Parameter (WMS)"
Hi everyone

According to the WMS specification, the BGCOLOR parameter is used when TRANPARENT = False, but also in other cases regardless of the TRANSPARENT value :

![image](https://user-images.githubusercontent.com/42850661/96161450-e905d680-0edc-11eb-8923-e954327aed44.png)

Currently with TRANSPARENT = True (the source code ignores BGCOLOR):
![image](https://user-images.githubusercontent.com/4

[2020-12-31 10:09] omeruygun opened #198 "Drawing Or Cursor Snapping To Vectorel Objects?"
Hello everyone, can you snap to vector objects while drawing or navigating the map with the mouse? Is there a tool that we can use this feature?

[2021-01-14 15:48] rusimao opened #199 "Wiki's sample not working"
Hello, I wanted to display .000 US chart but i couldn't becouse of exception "path does not lead to a file"
So i tried to do something with wiki sample but im getting exception "cannot use geometryserviceprovider without an assigned igeometryservices"

The thing i want to do is to display a ENC after a button click.
Could you help me to go through? I even wanted to buy .shp enc bc i thought it has

[2021-01-18 15:07] SaschaDeWaal opened #200 "Can't connect to wfs server"
Any clue why I can't connect to a wfs server? This is all I do, but with multiple servers, I always get the ApplicationException error. When I go to https://giswebservices.massgis.state.ma.us/geoserver/wfs?SERVICE=WFS&REQUEST=GetCapabilities it seems good.

**My Code**
`Client client = new Client("https://giswebservices.massgis.state.ma.us/geoserver/wfs");`

**Error**
[code]

[2021-01-21 13:43] #200 closed, assigned to nobody

[2021-02-22 11:14] FObermaier commented on #199
Most likely you will have to use the `GdalRasterLayer` or `OgrProvider` along with `VectorLayer`.
`GdalRasterLayer` and `OgrProvider` are part of the SharpMap.Extensions package

[2021-02-22 11:14] #199 closed, assigned to nobody

[2021-02-26 18:55] robalexclark opened #201 "Guidance Required: WKT or vector polygon to bitmap/raster layer"
Can someone please give me some pointers to achieve the following:
I have a WKT string (set of polygons) that I would like to turn into a bitmap/ raster layer that can be consumed in openlayers. Can Sharpmap achieve this? At the moment the WKT is downloaded to openlayers and processed clientside, which can take some time if there are lots of polygons.

For example see the following test page which

[2021-03-01 12:32] FObermaier commented on #201
SharpMap can turn your vector data into bitmap images.
You need to set up a `SharpMap.Map` and add `SharpMap.Layers.ILayer`s to it. There is e.g. `SharpMap.Layers.VectorLayer` that can cope with vector data. Choose a `SharpMap.Data.Providers.IProvider` that does data retrival for you.

Have a look at [this set of samples](https://github.com/SharpMap/SharpMap/tree/develop/Examples/WinFormSamples/Sa

[2021-03-04 14:02] mcbgis commented on #138
I compiled and got v1.2.0-alpha.470 which I updated to my project which is a console app.  Watching Fiddler, I see my app make the WFS call and GML 3.1.1 is returned but still no data on my map.  Any ideas?  Is there a way I can see the contents of the layer?

[2021-03-08 10:09] #201 closed, assigned to nobody

[2021-03-08 10:10] #198 closed, assigned to nobody

[2021-03-08 10:11] #193 closed, assigned to nobody

[2021-03-08 10:11] #192 closed, assigned to nobody

[2021-03-08 10:13] #141 closed, assigned to nobody

[2021-03-08 10:14] #169 closed, assigned to nobody

[2021-03-08 11:14] FObermaier commented on #197
Fixed with 254983ce6c3fc8d0a89b2368cdc6d992d26130e2

[2021-03-08 11:14] #197 closed, assigned to nobody

[2021-03-08 11:18] FObermaier commented on #196
GeoAPI, Common.Logging and NetTopologySuite are not made __just__ for windows.
System.Drawing, System.Memory and System.Buffer are available for different platforms as well.

I have no clue about the requirements of programming for unity, sorry

[2021-03-08 11:18] #196 closed, assigned to nobody

[2021-03-08 11:31] FObermaier commented on #190
I assume this has to do with the transfrom you apply to the map. Does it work when you leave out setting `map.MapTransform`?

[2021-03-08 11:51] FObermaier commented on #189
I have not tried it exactly but sth along these lines should work:
[code]

[2021-03-08 11:51] #189 closed, assigned to nobody

[2021-03-08 12:55] #182 closed, assigned to nobody

[2021-03-09 08:31] #191 closed, assigned to nobody

[2021-03-09 12:47] #190 closed, assigned to nobody

[2021-03-10 10:33] TimThaler commented on #182
Nice, Thanks a lot for this update

[2021-03-12 07:25] FObermaier commented on #135
You can now display PostGIS Raster with the `GdalRasterLayer`. Instead of the raster file name you need to provide the connection string:
[code]

[2021-03-12 07:25] #135 closed, assigned to nobody